[2019-08-07 20:33] bus710 opened #1 "Running the service shows some warning/error."
# Running the service shows some warning/error.

## Information

Hi,

I am very glad to see and try this example!

Before about the the detail, my system has/runs:
- Ubuntu 18.04.3
- Docker version 19.03.1, build 74b1e89
- docker-compose version 1.24.0, build 0aa59064
- groups bus710 => bus710 : bus710 adm dialout cdrom sudo dip plugdev lpadmin sambashare **docker**
- Please let me know if need an

[2019-08-07 20:36] bus710 commented on #1
The tail command shows this message and seems good to me:
[code]

[2019-08-07 20:50] tobiasmo1 commented on #1
@bus710 Thank you very much for your feedback! I notice the image name provided in our README has a typo.

As you found, the built image name is `video_analytics_serving_gstreamer` and it is correctly referenced in the `run.sh` script. We will update the documentation to clarify this and improve the out of box experience.

[2019-08-07 20:53] bus710 commented on #1
@tobiasmo1,

Thanks for the quick answer!

And I actually have a side question.
Do you and/or your team have a doc that introduce how to integrate this project, Open-vino, and Edgex?

[2019-08-08 00:07] tobiasmo1 commented on #1
@bus710  There are activities underway to express how these components will integrate soon, so stay tuned!

Also, there are several EdgeX member companies who are currently collaborating to build requirements for such integrations across market verticals. For example, the Commerce Project recently shared an Open Retail Initiative expressing their vision and call to action [here](https://wiki.edgex

[2019-08-08 16:55] bus710 commented on #1
@tobiasmo1

Sounds good!
I will be looking forward to seeing the work in the near future.

Since this issue will be solved, I am going to close.

[2019-08-08 16:55] #1 closed

[2019-09-18 04:56] kanagala388 opened #2 "gst_buffer_resize_range: assertion 'bufmax >= bufoffs + offset + size' failed"
I installed the gst plugins from the repo and when i ran my application ,getting the following error messages
 GStreamer-CRITICAL **: 04:34:45.143: gst_buffer_resize_range: assertion 'bufmax >= bufoffs + offset + size' failed

Can you please provide some help to resolve this issue?

[2019-09-18 20:54] cgdougla commented on #2
Thanks for reaching out. Can you give me some more information so I can try to help resolve this?
What elements did you install?
What are you trying to do with your application (i.e. using an rtsp/file/... source you want to do object detection/face detection/...?
Can you provide the pipeline you are trying to run?

[2019-09-19 06:34] kanagala388 commented on #2
Built an image using Dockerfile.gst . Built my application( which is also a container) by taking the base image as video_analytics_serving image  as shown below

ARG base_name=video_analytics_serving_gstreamer
FROM ${base_name}

I am trying to do person detection application.

Please find the pipeline i am trying to run
{
	"name": "person_detection",
	"version": 1,
	"type": "GStreamer",
	"template

[2019-09-27 03:26] lsydd opened #3 "core dumped after sample request"

[2019-09-30 06:52] #3 closed

[2019-09-30 23:25] cgdougla commented on #2
I copied your pipeline and ran it with R1 of person-detection-retail-0013 from OpenVino open_model_zoo and I cannot reproduce this behavior. Are there any other steps that you took or changes that you made? Are you using R1 of your models?

[2019-10-03 05:32] kanagala388 commented on #2
@cgdougla
Thanks for your response. The issue is resolved.

[2019-10-03 05:32] #2 closed

[2019-10-03 05:32] kanagala388 commented on #2
Thanks for your response. The issue is resolved.

[2019-11-27 07:23] lsydd opened #6 "Some errors about sample request."
# Sample request:
I’m trying to use your GitHub repository :video-analytics-serving. But the service shows some error when I try to run the sample code.
My environment is:
Intel Xeon Phi CPU7285;  Ubuntu 18.04.3;    Docker 19.03.2 build 6a30dfc.
0. It seems that I've succesfully built the gstreamer and ffmpeg version from your dockerfile.
[code]

1. When I run the Gstreamer and the sample post:
[c

[2020-01-07 00:37] cgdougla commented on #6
All of these samples use Intel OpenVino. Unfortunately, Xeon Phi is not supported hardware for running OpenVino. See [here](https://software.intel.com/en-us/openvino-toolkit/hardware) for supported hardware

[2020-01-24 09:13] lsydd commented on #6
Thanks, I use a server with Xeon processor instead and get the result in /temp.

[2020-01-24 09:13] #6 closed

[2020-02-21 06:15] abishekChouhan opened #7 "Update required in requirements.txt"
(For tag: v0.1.0-alpha)
Connexion package is to be updated from 2.0.2 to 2.6.0 in requirements.txt file (https://github.com/intel/video-analytics-serving/blob/v0.1.0-alpha/service/app/server/requirements.txt).
Werkzeug python package in updated on 7th Feb, this package in used by connexion internally.
The image will build without any error, but the container won't run without this change. Just rep

[2020-03-08 07:21] leifan89 opened #9 "Update samples/README.md"
In `samples/README.md`, the step
``` # ./sample.py --retries 3```
should be
```# ./sample.py --repeat 3```
Since, according to [`sample.py`](https://github.com/intel/video-analytics-serving/blob/master/samples/sample.py#L61), there is no `retries` option.

[2020-03-16 20:41] #7 closed

[2020-03-30 22:11] gabe2004 opened #10 "MQTT"
Do we have plans to add support for publishing inference results over MQTT?

[2020-03-30 22:18] nnshah2 commented on #10
MQTT, Kafka, and file publishing are supported for inference results through the gvametapublisher element. This is supported currently only for GStreamer based pipelines.  Please let us know if you have any issues in enabling it.

[2020-03-30 22:22] nnshah1 commented on #10
MQTT, Kafka, and file publishing are supported for inference results through the gvametapublisher element. This is supported currently only for GStreamer based pipelines. Please let us know if you have any issues in enabling it.

[2020-03-30 22:41] gabe2004 commented on #10
Thanks

[2020-03-30 22:41] #10 closed

[2020-05-16 09:03] tobiasmo1 commented on #9
This issue is resolved in latest release.

[2020-05-16 09:03] #9 closed

[2020-05-25 17:59] xwu2git opened #13 "glib failure in gstreamer_pipeline.py"
After running 9 minutes,

PipelineStatus(avg_fps=43.18830125933299, avg_pipeline_latency=3.0989729501227146, elapsed_time=427.7101671695709, id=1, start_time=1590402984.9836986, state=<State.RUNNING: 2>)
Fatal Python error: deallocating None

Thread 0x00007ff174b7a700 (most recent call first):

Current thread 0x00007ff15ffff700 (most recent call first):

Thread 0x00007ff176b7e700 (most recent call

[2020-05-28 23:36] dnoliver opened #14 "API Client Generation with openapi-generator"
Hello,

I was trying to get an API Client for golang generated from the OpenAPI specification file video-analytics-serving.yaml. You can run the tool with Docker:

[code]

I already run into a problem with the oneOf tag as described here https://github.com/OpenAPITools/openapi-generator/issues/15#issuecomment-635591730.

Anyways, as I want to just run the example with `UriSource` and `FileDestinat

[2020-05-28 23:45] nnshah1 commented on #14
This is great feedback - thank you for posting! We will need to investigate a bit to determine whether we can provide a generic schema that works for any pipeline, or if we would have to dynamically generate the parameter section based on the pipeline template. It's definitely a feature we should have (to be able to generate a client cleanly). If you already have an idea for how you would modify t

[2020-05-29 14:53] dnoliver commented on #14
My intention with the Go API client is to ease the integration of this repo with an [EdgeX Device Service](https://github.com/edgexfoundry/device-sdk-go).

It seems to me that a potential way of providing a Device Service for Video Analytics Serving is to write a Go API client for the service, and use it from the Go EdgeX Device Service SDK, translating REST calls that this service understand into

[2020-06-13 00:33] synchronizing opened #15 "build.sh not working out of the box."
Will be investigating this further, but as of now, the instructions given in the `README.md` and `samples/README.md` do not seem to work out-of-the-box:

##### [`README.md`](https://github.com/intel/video-analytics-serving/blob/master/README.md)

##### [`samples/README.md`](https://github.com/intel/video-analytics-serving/blob/master/samples/README.md)

When running `build.sh` the following error

[2020-06-13 00:40] nnshah2 commented on #15
Thanks for reporting this. Can you let us know what OS / platform you are running on? Definitely designed to run out of the box without any parameters. There might be a dependency on shell version.

[2020-06-13 00:41] synchronizing commented on #15
Hey @nnshah2. Running on host machine with the following:

[code]

[2020-06-13 00:43] nnshah1 commented on #15
Thanks for reporting this. Can you let us know what OS / platform you are running on? Definitely designed to run out of the box without any parameters. There might be a dependency on shell version. Ah! we have only tested on Ubuntu / bash to date - and probably the build script is incompatible for zsh.

[2020-06-13 00:45] nnshah1 commented on #15
Is it possible to use bash - otherwise we can post the resulting docker command that you would get by default. I can take a look at zsh to see how we could make it work across shells but don't know how easy that will be

[2020-06-13 00:46] synchronizing commented on #15
Using:

[code]

or

[code]

The following is outputted:

[code]

[2020-06-13 00:48] synchronizing commented on #15
Modifying

https://github.com/intel/video-analytics-serving/blob/59fdcba3e7b631f391cf5654b30f78d56585411b/docker/build.sh#L1

to

[code]

Outputs the same as the above.

[2020-06-13 00:49] nnshah1 commented on #15
for some reason many of the variables aren't getting set

[2020-06-13 00:52] nnshah1 commented on #15
[code]
[code]

[2020-06-13 00:52] nnshah1 commented on #15
these are the commands you should get out of the box for the build

[2020-06-13 00:55] synchronizing commented on #15
Thank you for the help -- let me try some changes to my `bash` setup. OSX comes equipped with `GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin19)`, which is dated back to 2006 (likely the issue). I'll be back with some updates + a solution if I find one.

[2020-06-13 00:55] nnshah1 commented on #15
We will double check the shell requirements and try to find a way to make it portable - in the mean time let us know if those commands work - thanks!

[2020-06-13 00:58] synchronizing commented on #15
Found a solution for OSX.

1. Install latest version of `bash` via [`brew`](https://brew.sh)

[code]
  λ which -a bash
/usr/local/bin/bash
/bin/bash
[code]
/usr/local/bin/bash docker/build.sh
[code]

[2020-06-13 01:35] synchronizing commented on #15
Opened new pull request with small instructions on `README.md` to specify building on OSX via #16. Thank you again @nnshah1.

[2020-06-13 01:35] #15 closed

[2020-06-13 05:24] nnshah1 commented on #15
@synchronizing Thanks for the pull request! Let us know how you're testing / experience goes. We're not quite set up for accepting pull requests directly but we are working on a documentation update focused on the build & run scripts so we will be sure to include this.

[2020-06-13 05:32] synchronizing commented on #15
Sounds like a plan! Thanks again.

Wondering if there is any documentation on adding another model into the system. Currently trying to add [`text-detection-004`](https://docs.openvinotoolkit.org/latest/_models_intel_text_detection_0004_description_text_detection_0004.html) right now, but having some pipeline issues. If you have any resources you could point me to, that would be appreciated. Thank

[2020-06-13 06:26] nnshah1 commented on #15
You should be able to increase the log_level to DEBUG to get more info on the exact error. Most probably in this case there is a typo in the pipeline.

We are working on improving the documentation, but we can help you through. The basics are to add a directory under models with the structure: model_name/version/FP32/*.bin, *.xml. Once the model is there you can refer to it in a pipeline by: model

[2020-06-13 06:30] synchronizing commented on #15
Awesome information. I'll be sure to look through it all -- as of right now, the intention is to create a seperate model all together, but I was hoping to give the framework a try with `text-detection-004`. If this isn't working out-of-the-box, then I believe time is better spent on just integrating the custom model to begin with! I'll be working on this in the next few days, and let you guys know

[2020-06-13 06:30] nnshah1 commented on #15
As an example of using gvapython with VA Serving to do custom processing, you can take a look at:
(This show how to insert the gvapython into the pipeline)

https://github.com/OpenVisualCloud/Smart-City-Sample/blob/master/analytics/crowd/Xeon/gst/pipeline/2/pipeline.json

This shows a simple python function to do custom processing.

https://github.com/OpenVisualCloud/Smart-City Sample/tree/master/

[2020-06-19 18:46] cgdougla commented on #13
This was a bug in one of the gstreamer elements being used. A hotfix was released for that element and this issue was resolved.

[2020-06-27 01:47] synchronizing opened #18 "Kafka and mqtt examples?"
Look through the repo, but couldn't find any reference for how to use `kafka` and `mqtt` with the service. When trying to run with the following configurations (please excuse the Python scaffolding, but one should get the idea):

[code]

Where `protocol` is *either* `http` or `kafka`, I get the following error as a log in the `video-analytics-serving`:

[code]

or

[code]

[2020-06-27 02:10] synchronizing commented on #18
Figured out my own issue... I need some sleep. In my Kafka settings inside my `docker-compose.yml` I have the following environment variable:

[code]

Therefore, simple setting the protocol to `PLAINTEXT` fixed my issue.

[2020-06-27 02:10] #18 closed

[2020-07-06 15:59] nnshah1 commented on #13
@xwu2git With the release of the hotfix for DL Streamer - can we close this issue?

[2020-07-06 16:12] xwu2git commented on #13
Yes

[2020-07-10 05:12] tobiasmo1 commented on #13
This issue with gvapython element was resolved in DL Streamer v1.0.1
[PR#71](https://github.com/opencv/gst-video-analytics/pull/71)

[2020-07-10 05:12] #13 closed

[2020-08-01 09:00] varunjain3 opened #19 "Updated Object Identification Sample"
@nnshah1 hey!
Working on the Smart-City-Cloud, I realised that it would be beneficial if I could understand the making of platforms separately, I see that making the pipeline environment inside the smartcitysample doesn't take that much time to build, while this g-streamer container takes more than 5 hours to build, why is that and is there any way to avoid this?

Also for the re-identification mo

[2020-08-01 09:46] nnshah1 commented on #19
@varunjain3 Thanks for the questions!

1. **Docker build time.** The default docker base image we use is based on the DL Streamer default base image which in turn currently follows a pattern similar to the Open Visual Cloud docker images repository. These docker files build most components by source to ensure that they are optimized for a given platform. Thus they take a long time. However Open Vi

[2020-08-05 12:45] varunjain3 commented on #19
Hey @nnshah1 ! Thanks for the answer, It really helped.
Working forward on this, I realized that I am still not able to understand how exactly does the gst-pipelines calls the python code and add it to the output message that is streamed through mqtt.

For eg, I tried the emotion recognition pipeline available on the video-analytics-sevices repository in the traffic scenerio in smart-city-sample a

[2020-08-05 12:56] nnshah1 commented on #19
I understood how all the counting was happening in the python code, yet I couldnt understand how the message stream was being changed by the python code.
Could you please explain me that.

_The message is being updated on line 22 - 25. There the original message is loaded from the frame, modified, and then we remove the original message and add the modified one:

https://github.com/OpenVisualCloud

[2020-08-13 00:57] nnshah1 commented on #19
@varunjain3  How is your project going? Please let us know if there is anything else you need from us - we've also just released 0.3.1 with a set of improved documentation. It'd doesn't cover all the topics you've brought up here - but would like to get your feedback. If this topic is resolved, let us know and we can close the issue.

[2020-08-13 05:43] xwu2git opened #21 "time stamp issue"
vaserving/gstreamer_pipeline.py, line 274:
self._stream_base = times["segment.time"]

This line should be self._stream_base=times["stream_time"]
times["segment.time"] and times["stream_time"] are in different time units that it does not make sense to do subtraction as in line 285:

 adjusted_time = self._real_base + \
            (times["stream_time"] - self._stream_base)

[2020-08-13 06:16] nnshah1 commented on #21
Thanks @xwu2git - we will look into the semantics and confirm for next release.

[2020-08-18 05:31] divdaisymuffin commented on #19
Hi @nnshah1
Sorry for late response, I am from the same team working along varun. I saw all your suggestions, and tried to do the face recognition in smart-city cloud.
 For doing so, I am using face-detection-adas, landmark-regression and face-reidentification-retail model.
I have created pipeline.json accordingly and given gvaidentify, from Ad-insertion pipeline I get to know that images should b

[2020-08-18 05:37] divdaisymuffin commented on #19
@nnshah1 Apart from the above issue, when I am running the smart-city with the changed pipeline.json (screenshot in above comment) with face-detection-adas, landmark-regression and face-reidentification-retail model, I am getting error in model loading for landmark-regression and face-reidentification (screenshot attached), so I thought it could be model_proc issue, but when I am loading them indi

[2020-08-18 11:06] nnshah1 commented on #19
@divdaisymuffin Can you provide a directory tree for the models directory - it looks like the model manager is loading a file with extension .ipync_checkpoints and getting confused. Probably this error should be ignored and not treated as fatal.

In the meantime you can also use the environment variable: IGNORE_INIT_ERRORS=True, to continue execution, and check that the models have been registered

[2020-08-18 11:16] nnshah1 commented on #19
On the issue of gallery generation, can you increase the GST_DEBUG level to 3 and see if there are indeed faces detected within the images? It looks as if it is possible the faces are not being detected in the source files.

[2020-08-18 12:50] divdaisymuffin commented on #19
Thank you @nnshah1 for your quick response.
The model loading issue is resolved, we have created certain changes in the pipeline.json, had to use the model-instance-id for each model.
I am posting corrections made to the pipeline.json.
"template":"rtspsrc udp-buffer-size=212992 name=source ! queue ! rtph264depay ! h264parse ! video/x-h264 ! tee name=t ! queue ! decodebin ! videoconvert name=\"vide

[2020-08-18 13:00] divdaisymuffin commented on #19
But now I am getting issue related to gvaidentify

{"levelname": "INFO", "asctime": "2020-08-18 12:34:12,820", "message": "Creating Instance of Pipeline object_detection/2", "module": "pipeline_manager"}                                                                                                                                                  {"levelname": "ERROR", "asctime": "2020-08-18 12:34

[2020-08-18 13:04] nnshah1 commented on #19
@divdaisymuffin The identify element will not support jpg and will require the tensors to be generated.  Please increase the GST_DEBUG level before running the gallery generator. We will need to understand that issue before proceeding to the VA serving pipeline.

[2020-08-18 13:50] divdaisymuffin commented on #19
@nnshah1 Thanks, I have increased GST_DEBUG level to 6, and got detailed error info. Pasting it here, please have a look.

divya5@divya5:~$ python gst-video-analytics/samples/gst_launch/reidentification/gallery_generator.py -s face_gallery_FP32/ -o face_gallery_FP32/ -d  test/Smart-City-Sample/analytics/object/models/face_detection_2020R2/1/FP32/face-detection-adas-0001.xml -i test/Smart-City-Samp

[2020-08-18 14:34] nnshah1 commented on #19
Just to confirm, which version of gst-video-analytics is this?

[2020-08-19 04:48] divdaisymuffin commented on #19
@nnshah1 I have used this git link to install gst-vide0-analytics
https://github.com/opencv/gst-video-analytics/tree/v1.0
so, its v1.0

[2020-08-19 13:19] divdaisymuffin commented on #19
hi @nnshah1 I changed to version 2020.2, but still getting same error
Please provide some insight into it

[2020-08-19 15:30] nnshah1 commented on #19
@divdaisymuffin Thank you for your patience. I'm in the process of lining up the right resources to look into your issue. Can you give me more details about the project and the organization that you and @varunjain3 are part of?

[2020-08-19 19:29] dhavalsvora commented on #19
@nnshah1 - Divya & Varun are team members of company AIVIDTECHVISION LLP. We are building SaaS based Video Analytics Platform. We are excited to use Open Visual Cloud, OpenVINO code base in our offering and also contribute  in enhancing it further. we all are currently facing technical issues as mentioned by @varunjain3, @divdaisymuffin. Your help on this will accelerate our understanding about Op

[2020-08-20 03:54] QuPengfei opened #23 "FFmpeg pipeline failed on 0.3-alpha"
ffmpeg failed on the 0.3-alpha. it worked well when rolling back to 0.3-preview.

[2020-08-20 04:14] nnshah1 commented on #23
@QuPengfei Can you provide more details on the specific pipeline? If possible please include a link to the pipeline.json.

[2020-08-20 04:54] QuPengfei commented on #23
the issue can be reproduced with the following pipeline. i did not try the face and emotion use case.  and i think face/emotion have the similar issue. also the same issue in the VCACA.

https://github.com/OpenVisualCloud/Ad-Insertion-Sample/blob/master/ad-insertion/analytics/Xeon/ffmpeg/pipelines/object_detection/1/pipeline.json

[2020-08-22 20:11] vtimofeev01 opened #24 "Storing files from gvapython"
I try to store some data directly from python script, set in gstreamer pipeline. but when i try to save the script stops.
Please tell me how to do it.
Thank u

[2020-08-23 20:20] vtimofeev01 commented on #24
Sorry that was my fault, storing is working well
but a can`t send kwarg argument to gvapython

i tried something like this:
{
  "name": "main_settings",
  "version": 2,
  "type": "GStreamer",
  "template": [
    "urisourcebin buffer-size=4096 name=source ! decodebin ! videoconvert ! video/x-raw,format=BGR ! queue ! ",
    "gvadetect model-instance-id=inf0 model={models[person-detection-retail-0013

[2020-08-23 22:19] nnshah1 commented on #24
https://github.com/OpenVisualCloud/Smart-City-Sample/blob/master/analytics/crowd/Xeon/gst/pipeline/2/pipeline.json

Please add a "format":"json" property to the parameter. You can see the example above from smart city. Apologies as we haven't documented this requirement yet.

[2020-08-24 05:33] vtimofeev01 commented on #24
I tried, but the script doesn't got kwarg...

`{
  "name": "main_settings",
  "version": 2,
  "type": "GStreamer",
  "template": [
    "urisourcebin buffer-size=4096 name=source ! decodebin ! videoconvert ! video/x-raw,format=BGR ! queue ! ",
    "gvadetect model-instance-id=inf0 model={models[person-detection-retail-0013][1][network]} model-proc={models[person-detection-retail-0013][1][proc]} nam

[2020-08-24 11:36] nnshah1 commented on #24
The default value for the object needs to be specified at the parameter level and not in the individual properties (due to a quirk in how default values are applied).

**Pipeline Definition:**
[code]
**gvapython code**

[code]

**Simple va serving code example:**

[code]

[2020-08-24 16:42] whbruce opened #25 "Default GStreamer docker image does not build"
The DL Streamer docker image no longer builds due to versioning issues in the OpenCV python libraries.  You will see an error like this
[code]
To work around this, you need to patch DL Streamer source and then re-build as follows. Replace `/path/to` with a directory of your choice.
[code]

[2020-08-24 17:35] vtimofeev01 commented on #24
Thank U
It s great
please put it into your documentation (how to make a json)! all python-zombi will be glad about josinifying of args and kwargs

[2020-08-24 17:35] #24 closed

[2020-08-25 22:48] vtimofeev01 opened #26 "Feature Request: What is also needed"
Thank U for wonderful made product!

really are extra needed some extra:

there is no possibility to enumerate all pipes having status via RESTapi
for example it will be great to get with GET /pipelines/{name}/{version} list of ids to get status or make an separate query to read list of ids

it will be great to have a /reload and /exit command

also will be grate to add to status data CPU usage (v

[2020-08-26 11:59] nnshah1 commented on #26
@vtimofeev01 Thanks for the feedback! Appreciate it - we will look into providing these.

GET /pipelines/name/version, would be fairly straight forward.

/reload, /exit. If I understand this correctly - this is an API to reload the pipeline definitions and model discovery? Is that a feature you'd using during deployment or just for debugging? My first inclination is to offer this as an option duri

[2020-08-26 12:25] vtimofeev01 commented on #26
Thank U
in my situation reload was needed during debugging, otherwise i needed to stop and reload docker image
also Ctrl-C was frequantly not working to stop VA in container, but REST API works and it could be a way to stop VAServing

About CPU usage - at your choice

The enumerating of running pipes will be also good

Thanks again

[2020-08-28 02:14] saychuan commented on #25
Suggest not to use "/path/to/gst-video-analytics", this will git clone to root, which create permission denied for some user.

sc@sc-nuc7i7bnhsc-nuc:/path/to/gst-video-analytics$ wget -q -O - https://patch-diff.githubusercontent.com/raw/opencv/gst-video-analytics/pull/100.patch | git apply -
warning: unable to unlink 'docker/binaries.Dockerfile': Permission denied
warning: unable to unlink 'docker

[2020-08-28 03:46] whbruce commented on #25
`/path/to` is a common convention to indicate a path of your choice. I have updated the workaround to make that clear.

[2020-09-01 17:02] #25 closed

[2020-09-02 22:35] whbruce opened #31 "Some docker hub base images do not support audio detection"
`GStreamer` framework base images are expected to include the
[audio detection inference](https://github.com/opencv/gst-video-analytics/wiki/gvaaudiodetect) plugin `libgstaudioanalytics.so`. If this plugin is missing the audio detection pipeline will not load, see error message below, and the Video Analytics Serving service will not start.
[code]
Currently this plugin is only present in the DL Str

[2020-09-03 22:01] whbruce opened #32 "Error in curl command to start emotion_recognition pipeline"
The [Emotion Recognition](https://github.com/intel/video-analytics-serving/blob/master/README.md#more-examples) example has an error in the curl command that starts the pipeline. The URL used curl by should `localhost:8080/pipelines/emotion_recognition/1`

[2020-09-05 20:04] vtimofeev01 opened #33 "/delete comand"
I have made

[code]

but it raises a fault

[code]

[2020-09-05 20:13] nnshah1 commented on #33
@vtimofeev01 Can you confirm what version of VA serving you are using? I believe this was address in the 0.3.1 release - do you see it in the latest?

[2020-09-06 06:24] vtimofeev01 commented on #33
it is so
thank U

[2020-09-06 06:24] #33 closed

[2020-09-08 02:30] nnshah1 commented on #19
Please find the updated sample here demonstrating how to enable object identification via a public face recognition model and the latest video analytics serving.

[object_identification_sample.zip](https://github.com/intel/video-analytics-serving/files/5185747/object_identification_sample.zip)
[README.pdf](https://github.com/intel/video-analytics-serving/files/5185755/README.pdf)

[2020-09-08 04:43] varunjain3 commented on #19
Thanks @nnshah1 ! Do give us some time to understand this and get back to you shortly.

[2020-09-08 13:07] divdaisymuffin commented on #19
hi @nnshah1, Thank you so much for the help.
I am working with sample provided by you. While following the process I got stuck with certain errors.
1. few warnings with
`git apply ../object_identification_sample/object-identification-sample.patch`

`git apply ../object_identification_sample/object-identification-sample.patch  ../object_identification_sample/object-identification-sample.patch:101:

[2020-09-08 13:11] varunjain3 commented on #19
@divdaisymuffin I think you will need to correctly pull the side-branch of the va-serving as specified by @nnshah1 in the readme, it works fine for me.

[2020-09-08 13:12] divdaisymuffin commented on #19
@nnshah1 Following instructions further I got another issue while downloading the model.

`sudo ./samples/object_identification/download_recognition_model.sh`

I got following issue

`fc0bf831bab1: Pull complete                                                                                              Digest: sha256:0b581106c80a9d8d2ce79cd8686fdc94fab20ce9c6738c04bf22cf3885a17e22

[2020-09-08 13:16] divdaisymuffin commented on #19
@varunjain3 I am following Readme.pdf only. Please suggest me what I am doing wrong.

[2020-09-08 13:32] nnshah1 commented on #19
@divdaisymuffin The warnings on git apply are to be expected - apologies for the confusion there.

Please start with a fresh va serving clone, and run the download script without sudo.

I believe the issue has to do with the permissions of the openvino user

If you continue to run into issues, please modify the download shell script to pass a user flag to the docker commands:
[code]

[2020-09-08 14:38] divdaisymuffin commented on #19
Thanks @nnshah1 that solved my issue 👍
Now proceeding further.

[2020-09-08 19:57] divdaisymuffin commented on #19
@nnshah1
The tensor generation for classroom.mp4 is working fine with the below script and I am getting expected output also.
`python3 ./samples/object_identification/object_identification.py --enroll --max-enrolled 4 --dump-frames --stop-on-max`
![14](https://user-images.githubusercontent.com/68895288/92521384-c7a92f00-f23a-11ea-8568-416d09562f6f.JPG)

But I am getting one error while running obj

[2020-09-08 20:02] nnshah1 commented on #19
https://github.com/intel-iot-devkit/sample-videos/blob/master/head-pose-face-detection-female-and-male.mp4?raw=true

Looks like a typo in the instructions - apologies - the correct url has: `sample-videos` instead of `samplevideos`

[2020-09-08 20:10] divdaisymuffin commented on #19
It worked, Thanks @nnshah1

[2020-09-09 02:31] divdaisymuffin commented on #19
hi @nnshah1, I got a error at step 2 of Deploying Object Identification as a Microservice.

command
`./docker/run.sh -e IGNORE_INIT_ERRORS=true -v /tmp:/tm`

Error:
`docker: Error response from daemon: error gathering device information while adding custom device "/dev/dri": no such file or directory. `
![16](https://user-images.githubusercontent.com/68895288/92547512-a5330800-f272-11ea-8106-b46ad

[2020-09-09 04:42] nnshah1 commented on #19
it looks like you are running on a system without an graphics devices exposed, in the docker run script you can comment out the like which adds this device to the container - will add detection for this scenario in the future.

[2020-09-09 04:46] yangyyt opened #34 "docker: Error response from daemon: error gathering device information while adding custom device "/dev/dri": no such file or directory."
When I execute this command ：/usr/local/bin/bash ./docker/run.sh -v /tmp:/tmp ，the terminal displays
docker: Error response from daemon: error gathering device information while adding custom device "/dev/dri": no such file or directory.

How can I solve this problem？I'm not good at docker.

[2020-09-09 04:49] nnshah1 commented on #34
Please comment out the follow line in the run.sh script - this indicates that the graphics HW in your setup is not available ( we will look into auto detecting this scenario):

https://github.com/intel/video-analytics-serving/blob/e735a1728fb4f19ddce51b5e6d42ef2bf4456ac7/docker/run.sh#L241

[2020-09-09 06:14] divdaisymuffin commented on #19
Thanks @nnshah1 for providing this object-reidentification patch in VAserving and also for your guidance. I am able to get the output in the file object_identification_results.txt which is stored in /tmp location.

I have also checked "/home/user/video-analytics-serving/samples/object_identification/results/" directory and it contains video specific frames and results.jsonl file.

But I haven't fo

[2020-09-09 09:30] nnshah1 commented on #19
@divdaisymuffin That's great to hear!

To save the watermarked results as a video file or as a stream you would need to modify

[code]

to use splitmuxsink or an rtspsink instead of jpegenc

To integrate the results into smart cities however, you can modify

[code]
to add recording based on splitmuxsink without watermarks.

[2020-09-09 13:38] divdaisymuffin commented on #19
Thanks @nnshah1 I tried with gvawatermark option for now, so I made changes to the object_identification/2/pipeline.json, replacing "jpegenc" with "rtspsink" and "splitmuxsink" both, and also provided a location to save the output.mp4.

But I am getting same error in both cases "rtspsink" and "splitmuxsink". Please suggest how to implement it to get the output as video.

Pipeline.json

`"urisource

[2020-09-09 13:55] nnshah1 commented on #19
Please try something like:

[code]

This site has some nice instructions:

https://github.com/DamZiobro/gstreamerCheatsheet

Including: https://github.com/DamZiobro/gstreamerCheatsheet#splitmuxsink-test-overwritting-max-2-files

[2020-09-09 19:33] nnshah1 commented on #34
@yangyyt Did this solve your issue?

[2020-09-10 03:42] yangyyt commented on #34
yes ,it can run now ,but it cannot get me a result .
![image](https://user-images.githubusercontent.com/26132147/92679326-b3f4ea00-f35a-11ea-80e5-491b19e38df2.png)

[2020-09-10 03:48] nnshah1 commented on #34
@yangyyt can you share the exact command line - it looks as if the output destination is not writeable

[2020-09-10 06:29] divdaisymuffin commented on #19
Thank you @nnshah1 , I tried gvawatermark one, error resolved but I am not able to find output video file.

Smart city one I didn't tried yet, I will try the smart city implementation and update you on that.

[2020-09-10 06:44] yangyyt commented on #34
curl localhost:8080/pipelines/audio_detection/1 -X POST -H \
'Content-Type: application/json' -d \
'{
  "source": {
    "uri": "https://github.com/opencv/gst-video-analytics/blob/preview/audio-detect/samples/gst_launch/audio_detect/how_are_you_doing.wav?raw=true",
    "type": "uri"
  },
  "destination": {
    "type": "file",
    "path": "~/Desktop/20200202/下半年/intel/video-analytics-serving/tmp/res

[2020-09-10 07:11] yangyyt commented on #34
I'm try to use absolute address for path(/Users/yuntingyang/Desktop/20200202/下半年/intel/video-analytics-serving/tmp/results_audio_events.txt).so results_audio_events.txt can be got ,but its content is empty.
![image](https://user-images.githubusercontent.com/26132147/92693043-9e41ed80-f377-11ea-812e-7b1bc0276074.png)

[2020-09-10 07:23] yangyyt commented on #34
just the network is not better.

[2020-09-10 10:19] nnshah1 commented on #19
Looking at this path:  `/home/divya10/video-analytics-serving/out_%02d.mp4`

Looks like it is a path from your host machine - it won't be accessible directly in the container.

In dev mode we mount `/tmp`. Try switching this path to `/tmp/out_%02d.mp4`

[2020-09-10 10:31] nnshah1 commented on #34
The results file path will need to be accessible in the docker container as well as in the host. When you start the container please pass in an appropriate volume mount, as an example (please note it looks as if you are running under windows so the first path may need changing based on how you've set up file mountint.

`./docker/run.sh -v /mnt/c/Users/yuntingyang:/tmp/output`

Then in your curl re

[2020-09-11 10:41] yangyyt commented on #34
The program runs on a MAC, but I got it. just I didn't set the proxy variable. Thank you very much for your answer

[2020-09-11 10:45] nnshah1 commented on #34
@yangyyt great news! Will close the issue. Let us know any feedback you have on the audio event detection sample and va serving in general.

[2020-09-11 10:45] #34 closed

[2020-09-13 23:47] vtimofeev01 opened #35 "Error getting v2 registry Get https://registry-1.docker.io/v2"
After 24 hours of working docker image goes down with the message: Error getting v2 registry Get https://registry-1.docker.io/v2 deal tcp lookup
what can be the failure

[2020-09-14 01:24] nnshah1 commented on #35
@vtimofeev01 Can you give more details on what led to the failure?

A brief search suggests that error message is related to pulling / building docker images - and shouldn't be a runtime issue. Are any of your pipelines creating data that are taking up local resources?

[2020-09-15 07:28] vtimofeev01 commented on #35
Docker is build, I only add sklearn to libraries.
i run it via systemed .service with -d key (run.sh shortly modified)

shell code
[code]

systemed .service
[code]

watchdog is a small program that controls and reruns cameras due connection failure
the main script stores some images in area folder

now if docker vaserving goes down the watchdog ends after some tries and the main sh-script reloads

[2020-09-15 11:29] nnshah1 commented on #35
@vtimofeev01 Can you run with environment variable `LOG_LEVEL=DEBUG` and send us the system.d and vaserving log in a failing case? Is there an active pipeline running when the container exits?

[2020-09-15 11:32] vtimofeev01 commented on #35
I it quite difficult because it is installed faraway and not connected to internet
yes it was running a pipeline on CPU with person-detection and person-reidentification

[2020-09-15 11:35] nnshah1 commented on #35
@vtimofeev01 understood. Would be possible to send us the pipeline.json + a sample request (is the scenario a single pipeline running off a camera feed for ~24 hours?)

[2020-09-15 11:42] vtimofeev01 commented on #35
pipline

[code]

JSON for watchdog containig main json

``
{
  "pipeline": "persons_detector_no_face",
  "version": 2,
  "name": "cam_o118_entrance",
  "request": {
    "source": {
      "uri": "rtsp://admin:root6674@10.11.12.5:554/ISAPI/Streaming/Channels/101",
      "type": "uri"
    },
    "destination": {
      "type": "file",
      "path": "/dev/stdout"
    },
    "parameters": {
      "main"

[2020-09-15 21:18] divdaisymuffin commented on #19
Hey @nnshah1 I need your help again, I was trying to integrate the results to smart-city following template worked for me to get the out put
`"template": "rtspsrc udp-buffer-size=212992 name=\"source\" ! queue ! rtph264depay ! h264parse ! video/x-h264 ! tee name=t ! queue ! decodebin ! videoconvert name=\"videoconvert\" ! video/x-raw,format=BGRx ! queue leaky=upstream ! gvadetect ie-config=CPU_BIN

[2020-09-16 13:54] nnshah1 commented on #19
Two things:

1) The gallery either has to be pre-built and added to the container, or the enroll parameter needs to be set to true (can be done via the request, or change the default)

2) in the sample we left out the model-proc file for the detection model. The reason was that gvawatermark will use the detection label instead of the identification label if both are present. In the smart cities ca

[2020-09-17 10:48] nnshah1 commented on #19
@divdaisymuffin Does this unblock your progress?

[2020-09-17 10:56] nnshah1 commented on #35
@vtimofeev01 Let us know if this is an urgent issue - otherwise we plan to add additional tests into our CI to see if we can reproduce this in our next release.

One small tweak: As you aren't using the destination, you can simply omit the destination section of the request entirely (it is optional):

[code]

[2020-09-19 08:45] divdaisymuffin commented on #19
Hi @nnshah1 , I tried your suggestions to get gallery directory, but that doesn't solved my issue :(

Although your suggestion to get bounding box worked very well.

I think to get gallery directory created in the smartcity docker swarm environment ,changes need to be added to the docker file of the analytics container of the Smartcity, So I am trying that right now. I will let you know, if it wor

[2020-09-19 20:40] nnshah1 commented on #19
@divdaisymuffin Is there a gallery directory created in the analytics container? If the gallery.json is what is missing - we need to call the "save gallery" method from the sample code either on startup or shutdown. If the"enroll" parameter is set to true - you should see the gallery directory with tensor files created.

[2020-09-20 10:01] divdaisymuffin commented on #19
@nnshah1 , No gallery directory is not getting created by the pipeline. yeah enroll parameter is True, but still no gallery directory is created.

[2020-09-22 12:22] divdaisymuffin commented on #19
hi @nnshah1 , I am able to enroll faces now, what worked for me is to put the vas_identify.py at /home/Smart-city-sample/analytics/object/ , earlier I put it at /home/Smart-city-sample/analytics/object/extensions.
But @nnshah I need your help still to locate the created gallery, if its getting created, because I tried to locate it, it does not show up in the system. Additionally I noticed that eve

[2020-09-22 12:32] nnshah1 commented on #19
@divdaisymuffin

The simplest thing will be to add additional print statements to vas_identify to print where the tensors are getting stored.

The gallery.json file itself - needs to be created via the code in the sample (vas_identify does not create the gallery.json itself, only the tensors).

The stats are also printed by the sample app and not vas_identify - but you can add print statements int

[2020-09-26 16:31] vtimofeev01 opened #36 "Opencv contrib"
Please tell me the changes I need to make docker image with opencv contrib library

Thank U

[2020-09-30 07:42] Shirish-Ranoji commented on #19
Hi @nnshah1

I m in a bit of trouble in extending this video analytics serving module to a new set of problem statements.

We are extending to our use case and accordingly modifying the changes required.

We replaced the face detection model with the person detection model and reidentification with the person reidentification. We were able to enroll in the tensors and dump the frames.

Now we find

[2020-09-30 10:17] nnshah1 commented on #19
1. For enrolling / identifying two objects as the same you can modify the `threshold` value in `vas_identify.py`. Currently this is set to `0.6` by default - but can be modified either in the extension itself or in the request.

1. For detection threshold you can modify the `threshold` property of the detect element in `pipeline.json`.

    `" ! gvadetect model-instance-id=detection model={models[

[2020-09-30 10:19] nnshah1 commented on #19
@Shirish-Ranoji , @divdaisymuffin

Could we close this issue as the basics have been demonstrated? We can open a new issues to discuss further enhancements. Does that seem reasonable?

[2020-09-30 11:28] Shirish-Ranoji commented on #19
Hi, @nnshah1 Thankyou so much for your quick response.

I would look into custom_transforms  from the smart city project and try the pipeline with a detection threshold.

Also, it makes sense to close this issue and start a new one.

[2020-09-30 12:32] #19 closed

[2020-10-15 01:47] JaydonChion commented on #2
@kanagala388 i have the same error, can i know how did you solve the error? Thanks

[2020-10-15 02:47] nnshah1 commented on #2
@JaydonChion  Can you provide details on the pipeline and example media file you are seeing this issue with?

[2020-10-15 02:48] whbruce commented on #36
I think OpenCV is built as part of [DLDT](https://github.com/openvinotoolkit/openvino), which is built by the DL Streamer base image, see [DockerFile#L569](https://github.com/openvinotoolkit/dlstreamer_gst/blob/preview/audio-detect/docker/Dockerfile#L569). Look into DLDT cmake build options and see if you can add OpenCV contrib.

[2020-10-15 03:28] JaydonChion commented on #2
@nnshah1 , i am running an example based on a deepstream's sample (deepstream-5.0/sources/apps/sample_apps/deepstream-image-decode-test)

pipeline: filesrc -> jpegparse -> nvv4l2decoder -> nvstreammux -> nvinfer -> nvtiler -> nvvidconv -> nvosd -> video-renderer

the input is a 224x111x3 jpeg.

input dimension of the model is 3x960x540

[2020-10-15 03:53] nnshah1 commented on #2
Is there a model from the open model zoo that has a similar topology?

Generally speaking, the equivalent pipeline would be something like:

filesrc -> decodebin -> gvadetect -> gvawatermark -> ximagesink

[2020-10-15 05:01] JaydonChion commented on #2
@nnshah1
Thank you for your suggestion. The pipeline i described above is used in the nvidia deepstream's example. I will try your suggestion. Can i also check with you is there any Gstreamer plugin i can directly include in the pipeline to resize the input image from an arbitrary size to 3x640x640?

[2020-10-15 09:47] nnshah1 commented on #2
@JaydonChion `videoconvert` or `vaapipostproc` can both resize an input image based on the required `caps`. However if the goal is to resize the image for inference, `gvadetect` will automatically resize the image based on the requirements of the model - so this does not need to be done in the pipeline itself.

[2020-10-18 20:33] vtimofeev01 commented on #36
I am not so advanced? please help where to look

[2020-10-20 21:12] vtimofeev01 opened #37 "Bad docker after 2021.1"
I try to make a new image an use gvatrack there
if I use `./build` - the gvatrack is looking for  libopencv_video.so.4.4 and does not start
if I use build `./docker/build.sh --framework gstreamer --base openvino/ubuntu18_data_dev` I cant start vaserving within the container
if I use `./docker/build.sh --framework gstreamer --base openvisualcloud/xeone3-ubuntu1804-analytics-gst` gvatrack looks for

[2020-10-20 21:47] nnshah1 commented on #37
@vtimofeev01

We are in the process of preparing an update which should allow use of `openvino/ubuntu18_data_dev` and `openvino/ubuntu18_runtime`. We will provide instructions by end of week. Either here as a patch or as a preview release. Sorry for delay.

In the meantime you can also try:

`--base openvino/ubuntu18_data_dev:2020.4` instead of 'latest'

[2020-10-22 16:48] whbruce opened #38 "Docker build fails if directory name contains spaces"
If there is a space anywhere in the parent directory path, the build will fail.

Example: Assume code has been cloned into the directory `/home/user/VA Serving`, build will fail as follows
[code]

Workaround is to remove spaces from directory name.

[2020-10-23 00:37] vtimofeev01 opened #39 "mqtt"
I am trying to connect local mqtt server via metapublishing, but messages are not comming
if I use "file" option i get normal output
if I try to map 1883 port by docker starting i get
`docker: Error response from daemon: driver failed programming external connectivity on endpoint vaserving (c8500fbaa086ec460d88dcda03bf3e2d18a5fb81b1e4fa649a7aec756766addb): Error starting userland proxy: listen tcp

[2020-10-23 08:13] nnshah1 commented on #39
It looks like you are trying to start a mqtt server / bind an mqtt server within the vaserving container?

Typically we start the mqtt server in a seperate container, and expose its port 1883. The ports of the vaserving container should not require any additional configuration (i.e. as long as it has access to the local network, which generally by default it should have).

if they are both on the

[2020-10-23 21:46] vtimofeev01 commented on #39
Tks

[2020-10-23 21:46] #39 closed

[2020-10-27 09:43] brmarkus commented on #36
I needed OpenCV-contrib as well - but did it manually and in addition...
First find out the version of OpenCV used. In my case it was OpenCV in version 4.2.0.

Then I cloned OpenCV and OpenCV-Contrib source code with the same version 4.2.0:

Parent folder, e.g. under "/localdisk/":

[code]

Clone OpenCV:
[code]

Clone OpenCV-Contrib:
[code]

Build OpenCV by telling OpenCV to also use OpenCV-Contri

[2020-10-29 04:46] whbruce commented on #37
Fixed in [v0.4.0-alpha-preview](37a10aafa772218bd9ac2d69ebeabc99039a24aa)

[2020-10-29 04:46] whbruce commented on #32
Fixed in [v0.4.0-alpha-preview](37a10aafa772218bd9ac2d69ebeabc99039a24aa)

[2020-10-29 04:46] #32 closed

[2020-10-29 04:47] #37 closed

[2020-10-29 04:50] whbruce commented on #31
OpenVINO 2021.1 runtime container supports audio. However Open Visual Cloud 20.7 releases do not.

[2020-10-30 21:51] vtimofeev01 commented on #36
Thank U

[2020-10-30 21:51] #36 closed

[2020-10-31 15:17] nnshah1 commented on #36
@brmarkus Can you recommend where you would add this to the dockerfile? Can this be done in the last layer (after all other dependencies from openvino/data_dev containers for example) - or does it need to be done before that?

If this is a common need / pattern we can add it to our documentation as part of customizing the build process.

[2020-10-31 15:23] nnshah1 commented on #37
@vtimofeev01 Wanted to confirm that you were able to get `openvino/ubuntu18_runtime:2021.1` working with `gvatrack` enabled

[2020-11-01 00:59] vtimofeev01 opened #43 "pipeline don t reaches cameras"
I have rebuild docker with ` ./docker/build.sh --framework gstreamer --base openvino/ubuntu18_runtime:2020.4` and I tried
with ` ./docker/build.sh --framework gstreamer --base openvino/ubuntu18_runtime:2021.1`

docker starts with
[code]
but I don t see cameras from the docker connections get always ERROR
(I tried also without network host with     `-p 554:554 `)
Thank U

[2020-11-01 13:07] nnshah1 commented on #43
@vtimofeev01 Was this working previously and is not working with the latest release?

What ERROR are you getting and what is the pipeline?

[2020-11-02 04:49] vtimofeev01 commented on #43
Probably I found the reason
my script stores some data to attached via `-v` folders, but when I try to do it i get access denied
(tried also with `touch 1.txt`)
on my dev pc there are no trouble like this
Thank U

[2020-11-02 11:13] nnshah1 commented on #43
Ah, yes. When using the `openvino` base image, user 1000 gets mapped to `openvino` and not `vaserving`, thus volume mounted files may be inaccessbile to the `vaserving`.

The correct way to handle it is to pass a `--user` option when launching the container with the `userid` of the user who has access to the mounted volume, or to make the volume world writable / readable (for example using `/tmp`)

[2020-11-04 06:26] brmarkus commented on #36
OpenVINO comes with a pre-built installation of OpenCV already, but without any module from opencv_contrib - as far as I can see. What I described above will add another opencv plus opencv_contrib - but in the same version. With some Dockerfile magic this could be cleaned up for the final layer, so that only the corresponding opencv_contrib module's binaries stay, plus making sure they could be fo

[2020-11-04 11:33] nnshah1 commented on #36
@brmarkus perfect, thanks! Will try to see how to document the process.

[2020-11-04 20:53] vtimofeev01 commented on #43
TU
all is clear

[2020-11-04 20:53] #43 closed

[2020-11-18 23:27] Surajb007 opened #44 "Build fails on Windows 10 and WSL"
Below error is observed while executing the command `./docker/build.sh` after cloning the repo on my Windows 10 machine running WSL 1.0.

`can't open file '/home/video-analytics-serving/tools/model_downloader': [Errno 2] No such file or directory`

More details on the error and screenshots can be found here https://github.com/openvinotoolkit/dlstreamer_gst/issues/151 and https://github.com/openvin

[2020-11-24 17:59] whbruce opened #45 "dconf permission error messages"
When built with OpenVINO base image the following error message is seen during REST service pipeline processing. Service operation is unaffected.
[code]

[2020-12-02 09:19] divdaisymuffin opened #47 "Not able to use stored gallery folder while running gstreamer with gvapython"
Hi @nnshah1

Referring to our previous conversation [Updated Object Identification Sample](https://github.com/intel/video-analytics-serving/issues/19), I need help in related issue, where I am doing face recognition with live camera streaming, When running with enrolling True in the vas_identify.py, the gallery folder gets created into the analytics_docker environment, so its able to create new ga

[2020-12-02 12:22] nnshah1 commented on #47
@divdaisymuffin can you share where you are storing the gallery? The location of the gallery for VA Serving (standalone) and as embedded in Smart Cities will be slightly different. The Smart City analytics container has a different layout then VAS layout - so first is just to check where the gallery is being stored and referenced.

[2020-12-02 17:37] whbruce commented on #31
Closing - all supported base images in v0.4.0-beta include audio support.

[2020-12-02 17:37] #31 closed

[2020-12-03 05:50] divdaisymuffin commented on #47
@nnshah1 The steps I followed for making gallery folder available to the Smart city docker environment are:
1. Created a enrolling with a given video.
    a. The gallery folder contains, Features folder and gallery.json file.
    b.  Then That is been copied to Smart-City-Sample/analytics/object folder, which is home directory to smtc_analytics_object_xeon_gst container.
   c. Made changes to Smar

[2020-12-05 15:15] nnshah1 commented on #47
By default the object identification sample loads the gallery from the pipeline directory:
[code]

this can be changed either directly in the gvapython code or via a parameter passed into the pipeline request:

[code]

Can you confirm the `gvapython` code is looking for the gallery in the right place?

[2020-12-07 04:16] divdaisymuffin commented on #47
yes @nnshah1 , I have already changed the location into gvapython code
`def __init__(self,
                 enroll = False,
                 gallery = "/home/gallery",
                 threshold = 0.45,
                 label = None,
                 index = None,
                 max_enrolled = 10,
                 max_enrolled_tensors = 10):`

[2020-12-09 10:26] divdaisymuffin commented on #47
Hi @nnshah1
Please help me with this.

[2020-12-10 11:04] nnshah1 commented on #47
Can you add instrumentation into this method to print out information on the:

1) `gallery_path`
2) and exception caught, (i.e. `error`)
3) the final gallery length `print len(self._gallery.items())`

[code]

My guess is either a malformed file, a file in a different location, or maybe a permissions issue - though I would think that all the files would be world readable -

[2020-12-11 04:45] divdaisymuffin commented on #47
okay @nnshah1 Thank you, I will try this and let you know.

[2020-12-12 09:39] vtimofeev01 opened #48 "opencv-contrib-python"
i need to use opencv-contrib-python before I used OpenVisulaCloud to use a standard opencv-contrib-python  but now i can t
Thank U

[2020-12-12 14:26] vtimofeev01 commented on #36
How to add it in the final layer of Dockerfile

[2020-12-12 16:38] nnshah1 commented on #48
@vtimofeev01 Is it that the base image change prevents this from happening? You can still use openvisulcloud images as a base - can you provide more details on what has changed?

[2020-12-12 21:23] vtimofeev01 commented on #48
I tried to use OVC images but i get and I added opencv-contrib into "requirements.service.txt", but it does not help

Collecting opencv-contrib-python (from -r /requirements.service.txt (line 10))
  Downloading https://files.pythonhosted.org/packages/2a/ef/6ed8ef6aca8ea9625d6577381dad57762713fd532ad41541054b01f760b3/opencv-contrib-python-4.4.0.46.tar.gz (148.8MB)
    Complete output from command p

[2020-12-18 17:23] adam-intel opened #49 "Error running run.sh on branch v0.4.0-beta"
After following the instructions on the readme, I encountered an error when running `./docker/run.sh -v /tmp:/tmp`, I get runtimr errors complaining about missing modules.

This is after I ran the _model-downloader_.  I experienced similar errors when I ran run.sh without first running _model-downloader_, if running the downloader is necessary then that step should be added to the _Getting Started

[2020-12-18 21:40] vtimofeev01 opened #50 "Multiple running pipelines"
Does I right understand that I can run some pipelines in one VAS-container or not?

[2020-12-18 21:45] nnshah2 commented on #50
Yes, you can run multiple concurrent pipelines in the same VAS container-

[2020-12-18 21:48] nnshah1 commented on #50
Yes, you can run multiple concurrent pipelines in one VAS container. The VAS microservice supports multiple pipelines in a single process (though pipelines are logically seperate and independent). do you have a specific issue / use case you are trying to enable?

[2021-01-02 21:44] vtimofeev01 commented on #48
Please let me know what i do wrong

[2021-01-07 19:34] #49 closed

[2021-01-07 19:36] adam-intel commented on #49
After meeting with Darrin we could not reproduce this issue and I think it resulted from a local configuration issue on my machine.

[2021-01-07 19:49] whbruce commented on #50
What more information do you need to close this issue?

[2021-01-07 22:28] vtimofeev01 commented on #48
the issue is to use -headless module

[2021-01-07 22:28] #48 closed

[2021-01-07 22:28] vtimofeev01 commented on #50
Tks. Thats all

[2021-01-07 22:28] #50 closed

[2021-01-07 23:08] nnshah1 commented on #47
@divdaisymuffin Were you able to get it working?

[2021-01-08 00:54] whbruce commented on #23
I tested with the 0.4 release and pipeline seemed to work
[code]
Then
[code]
Inference results looked good.

Can you retry?

[2021-01-12 01:07] whbruce opened #51 "Model Download Tool does not work in standalone mode"
Due to a change in base image v0.4 release the [model download tool](https://github.com/intel/video-analytics-serving/tree/master/tools/model_downloader) (MDT) no longer works in the "standalone" mode used in the [object detection tutorial](https://github.com/intel/video-analytics-serving/blob/master/docs/changing_object_detection_models.md).

To fix this, build a version of the image that can sup

[2021-01-20 05:22] NeethuES-intel opened #52 "ONNX build error while building VAS"
Unable to build ONNX package while running the build command for VAS using following
VAS_VERSION=v0.3.1-alpha
vas:
	rm -rf video-analytics-serving && \
	git clone https://github.com/intel/video-analytics-serving && \
	cd video-analytics-serving/docker && \
	git checkout ${VAS_VERSION} && \
	./build.sh --framework gstreamer
	cd ../..
	docker build -t video-analytic:paho .

Attached is the error log

[2021-01-20 12:27] nnshah2 commented on #52
@NeethuES-intel `VAS_VERSION=v0.3.1-alpha` is no longer supported and may have incompatible dependencies.

Can you try the latest version `VAS_VERSION=v0.4.0-beta' ?

Please let us know if you have any issues in migration or it is impossible to move to the latest.

[2021-01-20 12:28] nnshah1 commented on #52
@NeethuES-intel VAS_VERSION=v0.3.1-alpha is no longer supported and may have incompatible dependencies.

Can you try the latest version `VAS_VERSION=v0.4.0-beta' ?

Please let us know if you have any issues in migration or it is impossible to move to the latest.

[2021-01-20 17:34] NeethuES-intel commented on #52
Thanks @nnshah1.
I tried building with v0.4.0-beta, but getting the following error now.
I tried running the build with sudo, but getting the same error. Do you have any pointers ?

Defaulting to user installation because normal site-packages is not writeable
Collecting paho-mqtt
  Downloading paho-mqtt-1.5.1.tar.gz (101 kB)
Using legacy 'setup.py install' for paho-mqtt, since package 'wheel' is n

[2021-01-20 17:39] nnshah1 commented on #52
We haven't run across this specific issue (yet) - can you let us know the host OS and docker version you are using?

We typically set up our docker environments for non sudo access - so you shouldn't need to build with sudo.

If your environment is set up for sudo only use of docker - that might be a difference we need to test.

[2021-01-20 17:46] NeethuES-intel commented on #52
Host OS - Ubuntu 20.04 LTS
Docker version -
Client:
 Version:           19.03.8
 API version:       1.40
 Go version:        go1.13.8
 Git commit:        afacb8b7f0
 Built:             Wed Oct 14 19:43:43 2020
 OS/Arch:           linux/amd64
 Experimental:      false

Server:
 Engine:
  Version:          19.03.8
  API version:      1.40 (minimum version 1.12)
  Go version:       go1.13.8
  Git com

[2021-01-20 23:16] whbruce commented on #45
Fixed in 0.4.0-beta

[2021-01-20 23:16] #45 closed

[2021-01-22 21:03] NeethuES-intel commented on #52
Issue is resolved. Mostly the version incompatibility & some bugs in the docker & yaml files.

[2021-01-22 21:32] NeethuES-intel commented on #52
Following are the steps followed to get Digital out of home built & running -
1) Change to VAS_VERSION=v0.4.0-beta in Makefile
2) Add following in Dockerfile to resolve paho mqtt install -
USER root
3) build vas -
make vas
4) Commented out portainer stuff from docker-compose-vap.yml
5) Go to https://github.impcloud.net/Digital-Out-of-Home/vas-pipeline-manager/tree/master/pipelines/gstreamer
6) Del

[2021-01-22 21:34] nnshah1 commented on #52
@NeethuES-intel Thanks for the instructions and thanks to @thanajirao for the quick resolution!

[2021-01-22 21:34] #52 closed

[2021-01-26 14:54] venkataram9 opened #54 "Unpredictable delay in receiving mqtt messages"
Hi Team,
I am using using rtsp as input source and MQTT as destination in the pipeline. The input video file is 30FPS. I am using vlc to simulate the rtsp stream. The delay between frames is calculated. It is around 32 ms. The delay in MQTT messages is unpredictable. The delay in MQTT messages frequently changes from 0-150 ms. Since the frame delay is 32ms, how the delay in MQTT is less than 33 ms

[2021-01-26 15:11] venkataram9 opened #55 "Plot the bounding box using timestamp"
Hi,

I am using RTSP as input and MQTT as output in the pipeline. RTSP stream is simulated using vlc from the recorded video files. The input stream is received in the code using OpenCV. When I run the pipeline, I receive the messages to MQTT callback. I would like to use the timestamp from the MQTT message and overlay the bounding box co-ordinates on the frame.
What is the timestamp parameter tha

[2021-01-27 10:07] nnshah1 commented on #54
@venkataram9 How are you measuring the delay of the MQTT message?

The timestamp in the JSON message is relative to the presentation time of the frame. This is not absolute or system time but relative to when the frame should be "presented". As RTSP includes buffering - the presentation time of the frame can reach mqtt before it should be "presented". What is your final goal in synchronization?

[2021-01-27 10:13] nnshah1 commented on #55
Do you need to do the watermarking after the fact? From a synchronization point of view it is easiest to do the watermarking in the pipeline itself using gvawatermark and then exporting the result to file (either frames or segments).

In our next release we are planning improved samples for RTSP restreaming to make it simpler -

Another option is to save the results and the incoming video with a c

[2021-01-29 17:44] nnshah1 commented on #54
@venkataram9, Does that help? Do you need more information / have more details on your requirements?

[2021-01-29 17:47] nnshah1 commented on #55
@venkataram9

Did this help?

Do you have additional requirements?

[2021-01-30 13:43] venkataram9 commented on #55
Thank you for your post.
I am focusing to synchronise the rtsp stream and metadata using the code. I have gone through the callback mechanism using gvapython element from pipeline in which I can provide the path of python file for callback. I would like to run multiple pipelines for multiple cameras. In that case, how can the callback function determine the results from particular camera. Like how

[2021-01-30 14:04] nnshah1 commented on #55
For this use, the simplest approach is to add tags and or arguments to your vaserving request which can specify any additional details.

**Option 1:** Add arguments to your gvapython module and send parameters into the request.

This issue covers this in detail:

[using gvapython in va serving pipelines](https://github.com/intel/video-analytics-serving/issues/24)

@whbruce We should add this to ou

[2021-01-30 17:07] venkataram9 commented on #54
Is there a way to get the rtsp timestamp for the inferred image through the mqtt JSON message?
My final goal is to synchronise the video feed and metadata using the code.

[2021-01-30 20:41] nnshah1 commented on #54
What are the two processes that are receiving the rtsp stream? One is the analytics pipeline, the other is a viewer of some kind? Is it possible to restream the incoming feed from the analytics pipeline? In that way we can synchronize the timestamps easier.

Overall, recording the stream with a common time stamp as demonstrated is simpler, see:
[https://github.com/intel/video-analytics-serving/tre

[2021-01-30 21:10] nnshah1 commented on #54
In general, to synchronize correctly you'll have to change the clock used in the GStreamer pipeline -

(this would require changes in (https://github.com/intel/video-analytics-serving/blob/master/vaserving/gstreamer_pipeline.py))

Some references I found when attempting this myself:

1. (http://gstreamer-devel.966125.n4.nabble.com/Synchronizing-multiple-RTP-sources-td4672395.html)
2. (https://gstr

[2021-02-04 06:48] venkataram9 commented on #54
Could you please brief what should be the changes required in (https://github.com/intel/video-analytics-serving/blob/master/vaserving/gstreamer_pipeline.py)) and in the elements in the pipeline

[2021-02-04 15:23] nnshah1 commented on #54
@venkataram9 What's the general urgency / priority of your question? Before recommending specific changes we would want to do some analysis to give better guidance as clocks and timing can be complicated.

[2021-02-07 13:16] venkataram9 commented on #54
We are having short timelines in this implementation. Kindly let us know as soon as possible.

[2021-02-12 04:50] Gsarg18 opened #56 "Intel GPUs is not working in openvisual cloud"
I have tried using GPU(Intel® UHD Graphics 630 (CFL GT2)) and processor(Intel® Core™ i7-8700 CPU @ 3.20GHz × 12) with video-analytics-serving(change docker image from Xeon to Xeone3) and it is working, but when i tired to work with smart city sample on GPU it is not working. I also raised the issue here:- https://github.com/OpenVisualCloud/Smart-City-Sample/issues/736
I also tried by changing the

[2021-02-12 05:02] nnshah1 commented on #56
@Gsarg18 Can you post the va serving log? You can increase the log level with an environment variable (LOG_LEVEL=DEBUG). The Open Visual Cloud docker files have different versions of the drivers than the default VA Serving container- so if VA Serving standalone is working and Open Visual Cloud base image is not - then I suspect a difference in dependencies.

[2021-02-12 16:59] amajai opened #57 "Error opening file /samples/bottle_detection.mp4: No such file or directory"
I am trying to POST the sample video from local file to the object detection endpoint but I get this error.
[code]

This json request that I have sent.
[code]
Is there a way to resolve it?

[2021-02-12 17:08] amajai commented on #57
Issue has been resolved by using this uri:
[code]

[2021-02-12 17:08] #57 closed

[2021-02-15 10:37] amajai opened #58 "Prevent pipeline instances from resetting"
I noticed that every time you restart the api server, the pipeline instances from the last session will all be lost and get reset to zero. Is there a way to create some sort of a storage for saving pipeline instances so you can have access to it anytime without having to lose them every time you restart the server?

[2021-02-15 12:33] Gsarg18 commented on #56
I have attached the va seving log
[gpu_pipeline.log](https://github.com/intel/video-analytics-serving/files/5980897/gpu_pipeline.log)

[2021-02-15 15:05] nnshah1 commented on #56
@Gsarg18 As confirmation - you ran the same VA Serving image (using XeonE3 base image from openvisual cloud docker files) outside open visual cloud and it is working?

Or: Did you build a VA Serving image from the VA Serving git hub?

If it is the second - then highly suspect the dependencies in the base image -

[2021-02-17 20:48] amajai opened #59 "gvawatermark not displaying overlay bounding box on output video"
Hello,

I have been experiencing difficulties in outputting a video with bounding box. I created a custom test pipeline with the gvawatermark element added to the pipeline template to add overlay bounding box to the video output. However, after multiple element arrangement within the template, I was still unable to get the output desired.

This is the template format I used:
[code]

[2021-02-17 21:11] nnshah1 commented on #59
@amjai - To make sure we understand - your desire is to save the watermarked output as segments? Or jpeg frames?

[2021-02-17 21:17] amajai commented on #59
I was thinking the watermarked output would be in the same video format. What are the format of segments?

[2021-02-17 21:27] nnshah1 commented on #59
The segment recording sample is designed specifically to save the incoming stream without re-encoding it - so it it would be the incoming stream format (for example h264) within an mp4 container (splitmuxsink uses qtmux by default).

To get a watermarked frame you would need to re-encode the frame before sending it to splitmuxsink

Something similar to:
`gvawatermark ! videoconvert ! x264enc key-i

[2021-02-17 21:27] NeethuES-intel opened #60 "Build error with Edgex bridge"
Followed the instructions here to build edgex - https://github.com/intel/video-analytics-serving/tree/master/samples/edgex_bridge
Getting the following build error -
$ ./samples/edgex_bridge/fetch_edgex.sh
./samples/edgex_bridge/fetch_edgex.sh: line 6: cd: /home/nesubuntu207/Neethu/video-analytics-serving/samples/edgex_bridge/../../edgex: No such file or directory
Working folder: /home/nesubuntu20

[2021-02-17 21:37] amajai commented on #59
Oh I see. But after adding the elements you provided to the template, I got this error.
[code]

[2021-02-17 21:48] NeethuES-intel commented on #60
I modified the links based on the fetch from latest edgex repo, but still missing some docker-compose files. Attaching the modified file here. Also attaching the build error with this version of the shell script
[fetch_edgex.txt](https://github.com/intel/video-analytics-serving/files/5998816/fetch_edgex.txt)

$ ./samples/edgex_bridge/fetch_edgex.sh
Working folder: /home/nesubuntu207/Neethu/video-a

[2021-02-17 21:59] nnshah1 commented on #59
@amajai probably I have a typo / more to put in - can you send the final pipeline you are trying?

[2021-02-17 23:25] whbruce opened #61 "docker/build.sh fails if UID is not 1000"
On a system when UID is not 1000 (i.e. a second user was created and that account was used to run build), the build will fail.

Run docker/build.sh and you will get the following error
[code]

To workaround the problem, modify [tools/model_downloader/model_downloader.sh](https://github.com/intel/video-analytics-serving/blob/v0.4.1-beta/tools/model_downloader/model_downloader.sh#L115) so that user

[2021-02-17 23:28] whbruce commented on #56
Please give the output of the following. No output means that GPU cannot be detected.
[code]

[2021-02-18 06:25] amajai commented on #59
@nnshah1 This is the template I used:
[code]

[2021-02-18 23:25] whbruce commented on #60
Thanks for logging issue and supplying updated fetch script. We have a fix and @tobiasmo1 will post steps for a workaround.

[2021-02-19 05:54] Gsarg18 commented on #56
This is the output of above command:

Platform #0: Intel(R) OpenCL HD Graphics
 `-- Device #0: Intel(R) Gen9 HD Graphics NEO

[2021-02-19 06:05] whbruce commented on #56
Thanks for quick response
1. The clinfo output shows that the container can access the GPU. This is good news!
2. Your docker log does not show any errors, can you clarify what you mean by "not working".
3. Note that GPU inference takes ~30s to respond to first request.
4. Please answer @nnshah1's question, how did the build the VA Serving container
5. Please update to the latest VA Serving versio

[2021-02-19 06:08] Gsarg18 commented on #56
Sorry for late response @nnshah1
I run VA-serving by replacing openvisual xeon base image with xeone3(./docker/build.sh --base openvisualcloud/xeone3-ubuntu1804-analytics-gst ) image on GPU and it is working. Then i try to run the same Xeone3 image in smart city sample with latest VA-serving version, it is not working

[2021-02-20 02:05] tobiasmo1 commented on #60
Hi @NeethuES-intel,
Could you try again after you update `fetch_edgex.sh` (from line 19 forward) to replace with this block?

[code]

[2021-02-20 11:19] nnshah1 commented on #56
I believe I understand what might be happening:

Docker swarm does not support the 'device' or 'priveledged mode'. To enable this in swarm you have to enable a special container image with docker runtime client support that can launch a container with privileges. This is how the vcac-a deployment scripts are set up. Within the analytics folder you can find the run-container.sh within the vcac-a su

[2021-02-20 22:19] vtimofeev01 opened #62 "Memory leaks"
Hello!

does U have examined memory leaks by using python modules?
I have tried a script with different count of python modules in different combinations, every time i get memory leaks and after some time script stops to run without stopping a pipeline itself. Here I attach a [ picture with statistic](https://drive.google.com/file/d/1YAvXhAxIWlIaettVro-DGb9KfrTm_AtV/view?usp=sharing) Every time th

[2021-02-21 15:34] nnshah1 commented on #62
Can you give more details about how and where you are using va serving in this set up? Is va serving growing in memory over time?

We had done some memory analysis in the past and were able to bound the growth to a small amount for each pipeline - but not a huge continually growth -

[2021-02-22 09:14] Gsarg18 commented on #56
@nnshah1, we are using kubernetes deployment not docker swarm. How to make these changes in kubernetes?

[2021-02-22 12:04] nnshah1 commented on #56
@Gsarg18 , For Kubernetes, I believe you can designate a pod as "priviledged". You should be able to deploy the analytics container as a privileged pod.  https://kubernetes.io/docs/concepts/workloads/pods/#privileged-mode-for-containers

@xwu2git, In order to run the analytics container on VCAC-A (with access to GPU) within Kubernetes do we use privileged pods or do we use the same technique as in

[2021-02-22 13:06] nnshah1 commented on #59
Try one of the following. The first uses the mjpeg to encode and an avi container. The second uses x264enc plus an mp4 container. The x264enc element may not be installed by default due to licensing issues - in order to use it you may need to install some additional components in the container. Both pipelines are designed to put 30 second clips (either avi or mp4) in the /tmp folder. You can addit

[2021-02-22 16:36] xwu2git commented on #56
For gpus, you can either use a privileged pod or install the gpu device plugins.

[2021-02-22 22:48] vtimofeev01 commented on #62
As U could see the grows goes continually
Probably something is wrong, but I don t understand what
I run OVC on Intel NUC in docker with GPU
code I use looks like
`import datetime
import json
import logging
import os
import traceback
import gc
import yaml
from gstgva import VideoFrame, Tensor

debug = False
logging_level = logging.DEBUG if debug else logging.INFO
main_logger = logging.getLogger(f'

[2021-02-23 03:58] NeethuES-intel commented on #60
Thanks @tobiasmo1. Build succeeded.
However when I tried the example for object detection, got the following error -
{"levelname": "ERROR", "asctime": "2021-02-22 22:48:53,045", "message": "Error on Pipeline 1: gst-resource-error-quark: Failed to connect to MQTT after maximum configured attempts. (3): /root/gst-video-analytics/gst/elements/gvametapublish/c_metapublish_mqtt.c(206): on_connect_failu

[2021-02-23 05:46] Gsarg18 commented on #56
@nnshah and @xwu2git Thanks for the suggestion related to making analytics pod as priviledged, we will try it and let you know.
Another clarification is , VCAC and GPU are two different issues, here we are concerned about running smart city on GPU only. VCAC is on different thread: https://github.com/OpenVisualCloud/Smart-City-Sample/issues/741

Thanks

[2021-02-23 07:33] amajai commented on #59
@nnsha1 Thanks alot! I got it to work exactly what I wanted. However, the video quality is pretty low and AVI file are usually large. Is there a way to improve the output video quality or  should I try a different element?
Regarding the `x264enc`  element, how can I generally add components to the container?

[2021-02-24 06:34] Gsarg18 commented on #56
Thankyou @nnshah1 @xwu2git @whbruce
We did the changes as suggested by you, and now smart-city-sample is working on GPU with kubernetes deployment

[2021-02-24 12:39] nnshah1 commented on #56
Thanks for the update! This is great news! Can you briefly describe the change in set up - so we can capture for anyone else running into the same issue?

[2021-02-25 10:29] amajai opened #63 "Unable to playback recorded video with inference results displayed"
Hello,
I was trying out the `record_playback.py` script in the `/samples` folder to record a video input in order to output the `metadata.txt` which I can then use for playback with inference results displayed .  When I playback the video I just recorded without the metadata added, it plays back normally with no issue. This is the command line used:

[code]
But when I tried playing back the video

[2021-02-25 22:08] whbruce commented on #63
Hi there - thanks for using  Video Analytics Serving.

The playback code is fragile. The following scenarios do lead to a segfault
1. Specifying a non-existent output video folder
2. Running multiple recordings using the same output video folder

As a workaround make sure output video folder exists and is empty.

Our README for this sample needs attention so let me take this  opportunity to show h

[2021-02-26 03:36] whbruce opened #64 "Run script fails to detect GPU if UID > 1001"
The container has two users with permission to access GPU: openvino (UID 1000) and vaserving (UID 1001). The run scripts takes UID from host to avoid volume mounting permission issues, so if this UID > 1001, the container cannot access GPU.

Under this condition, if a request sets device to "GPU", the server will show an error as follows:
[code]

Workaround is to  ensure user has UID <= 1001.

[2021-03-01 06:53] amajai commented on #63
@whbruce Thanks for the assistance, its now working.

[2021-03-01 06:53] #63 closed

[2021-03-02 06:12] tobiasmo1 commented on #60
@NeethuES-intel - My apologies for the delay.  I notice dynamic addition of the mqtt broker was also improved in Hanoi release. So the fix is included in this replacement block below. It is nearly the same, but we add instruction to make compose with **mqtt-broker** and outputs to a new compose target.

With this you should see it functioning as expected.
Let me know if this works for you.

If you

[2021-03-02 20:50] NeethuES-intel commented on #60
@tobiasmo1 - Thanks
I am getting a different error now -
nesubuntu207@nesubuntu207-desktop:~/Neethu/video-analytics-serving$ python3 ./samples/edgex_bridge/edgex_bridge.py --topic=objects_detected
Traceback (most recent call last):
  File "./samples/edgex_bridge/edgex_bridge.py", line 12, in <module>
    from vaserving.vaserving import VAServing
ModuleNotFoundError: No module named 'vaserving'

Ho

[2021-03-02 21:03] tobiasmo1 commented on #60
@NeethuES-intel - This will occur if you attempt to run directly on your host. Be sure to run `edgex_bridge.py` from within our container to assure 'vaserving' module is accessible.  Did you skip this part of step #2 ?
[code]

[2021-03-02 21:07] NeethuES-intel commented on #60
Thank you @tobiasmo1. I missed that part. Yes, its working perfectly.

[2021-03-02 23:39] pubudu-madhawa opened #65 "Duplicate MQTT messages with same timestamp"
[FrameTimestampIssue.zip](https://github.com/intel/video-analytics-serving/files/6072454/FrameTimestampIssue.zip)
When the attached python code was run, we experienced 3 pairs of messages with the same timestamps. You can see these in the mqtt_logs.text at lines: 13/14, 21/22 and 25/26.
Wondering what is happening here, my understanding is that each MQTT message should come with unique and increme

[2021-03-04 17:18] whbruce commented on #58
This is expected behavior as pipelines will be stopped with service and will not retain state across re-start. Although pipeline instances are currently incrementing values, clients should not make this assumption as behavior may change in future versions of the service.

If a client loses connection with service, there is no easy way to reconnect and get running pipeline instances. This feature w

[2021-03-05 14:16] amajai commented on #58
@whbruce Thanks for the response. I will try to code the feature to keep count of the instances. I look forward to the future release.

[2021-03-05 22:11] vtimofeev01 commented on #62
I tried with `fakesink`. It works for a long time. I don t see fps, but the code is stable. Graph [here](https://drive.google.com/file/d/1u9Exmo0hPn_lY8twl8pYo4sNGbw_r34_/view?usp=sharing)

[2021-03-05 23:08] whbruce commented on #44
WSL is not currently supported. To help us replicate, can I ask two details:
1. can you add exact steps on how you start WSL (e.g. PowerShell, Ubuntu app etc.).
2. What is output of `echo $UID` at WSL Linux prompt

[2021-03-05 23:21] nnshah1 commented on #44
@psakamoor I know that recently you had built va serving on WSL - were you using WSL 1.0 or 2.0, and did you have any BKMS you could share?

[2021-03-06 03:06] Surajb007 commented on #44
@whbruce

1. I just start my WSL (Ubuntu app) from the start menu
2. Output of `echo $UID`

![image](https://user-images.githubusercontent.com/11753666/110192912-edd11580-7dfe-11eb-879b-3c26532bca76.png)

[2021-03-06 13:54] nnshah1 commented on #44
@Surajb007 We have recently released 0.4.1 - want to confirm you've tried with the latest release- do you get the same error?

In the past, this article: https://nickjanetakis.com/blog/setting-up-docker-for-windows-and-wsl-to-work-flawlessly

Was useful to double check basic setup, especially the section on ensuing volume mounts work -

[2021-03-08 17:34] whbruce commented on #51
Fixed in v0.4.1.

[2021-03-08 17:34] #51 closed

[2021-03-08 17:44] whbruce commented on #26
Here is status on your feature requests:
1. CTRL+C not stopping REST service: this was fixed in v0.4.0
2. `reload` and `exit` commands: no near term plans to add to REST API
2. CPU usage: no near term plans to add to status request.
3. Enumerating running pipelines: will be added in our June release at end of Q2.

[2021-03-11 12:52] #56 closed

[2021-03-12 13:31] amajai opened #66 "Unable to pass data from one pipeline to another"
Hello,
I am planning to separate a VAS pipeline into two or more parts with different server ports. I would like to have each pipeline handle different process stages instead of having one single process. I used the VAS image to create 2 separate docker containers with its custom pipelines. So in order to pass the data from one pipeline to another, I decided to use gstreamer elements, `tcpclientsi

[2021-03-12 13:44] nnshah1 commented on #66
This is a very interesting use cases - but one we haven't had time to try.

Have you tried starting the listener first? I believe that is the order.

another option could be to make the first pipline a tcpserversink, something like:

[code]

And then start the second one -

Either way - I suggest prototyping first with gst-launch, confirm the order (which side to start first), and then enable in v

[2021-03-14 15:37] amajai commented on #66
@nnshah1 Regarding the first attempt at transferring data, both the server and listener were both running.  Here are methods I have tried out so far for transferring data from one pipeline to another with specified host and port.

1. Same port/ from tcpserversink => tcpclientsrc

Error from Server A logs:
[code]
2. Same port/ from tcpclientsink => tcpserversrc

Error from Server A logs:
[code]

3.

[2021-03-14 16:10] nnshah1 commented on #66
@amajai  One quick note: I believe you are trying to use 8080 - and that port is already used for the VA Serving rest interface.

Can you try 8081 (both server sink and client)?

To see how to capture the output of one pipeline and inject into another (in the same process) you can look at:

https://github.com/intel/video-analytics-serving/blob/master/samples/app_source_destination/app_source_desti

[2021-03-19 13:22] amajai commented on #66
@nnshah1 Yes, I have both the elements connected to the same port from `tcpserversink` to `tcpclientsrc`. I finally managed to get pipeline running for Server A with no error. However, once the pipeline process ends, the data doesn't carry over to Server B. There wasn't any change within the Server B logs. Its like the data got lost after the `tcpserversink` process. Still haven't found a solution

[2021-04-08 10:11] amajai commented on #66
Hello @nnshah1. Was wondering if its possible to use the elements `appsink` for sending data and `appsrc` for receiving data within the VAS pipelines. I have tried out using them by adding the docker container names of both VAS servers to the name parameter for the elements as a way to refer each other. These were the pipelines I used:

Server A
[code]

Server B
[code]
Unfortunately I was not able

[2021-04-14 16:38] whbruce commented on #64
Fixed in v0.5

[2021-04-14 16:38] #64 closed

[2021-04-14 16:39] whbruce commented on #60
Fixed in v0.5

[2021-04-14 16:39] #60 closed

[2021-04-14 16:44] whbruce opened #68 "RTSP re-streaming plays back at frame processing rate, not encoded rate."
If frame processing rate exceeds source media framerate, re-streaming playback rate will be faster than original media encoding making it hard to visually validate inference results.

[2021-04-14 16:53] whbruce opened #69 "Intermittent error during concurrent pipeline tear-down in Live Video Analytics AI extension sample"
This issue has only been observed in internal stress testing has not been seen in sample applications such [cloud-to-device-console-app](https://github.com/Azure-Samples/live-video-analytics-iot-edge-csharp/tree/master/src/cloud-to-device-console-app).

As a workaround around ensure media stream sessions are serialized and at least 250ms apart.

[2021-04-14 18:51] whbruce commented on #65
We looked into this issue and identified incorrect timestamps in the media source that rippled through to MQTT. Closing as this is not a VA Serving issue.

[2021-04-14 18:51] #65 closed

[2021-04-14 18:59] whbruce opened #70 "Memory leak if using gvametaconvert in pipeline"
We have observed a memory leak of at about 30MB over 12 hours.

[2021-04-14 19:49] whbruce opened #71 "Models can be picked up from previous build"
The wrong model can be included if (1) switching between GStreamr and FFmpeg frameworks or (2) upgrading VA Serving and then building with with existing model cache. Another side effect is container can be larger than necessary due to picking up extra models.

There are two options for workarounds
* Delete models folder before building
* Use [--force-model-download](https://github.com/intel/video-

[2021-04-14 19:58] whbruce opened #72 "Tracking pipeline can drop results if tracking-type parameter is set to “short-term”"
Pipeline avoids problem by setting mode to  `zero-term-imageless`.  As a workaround, do not change [tracking type](https://github.com/openvinotoolkit/dlstreamer_gst/wiki/Object-tracking).

[2021-04-14 21:43] whbruce commented on #62
Closing issue as it is reported as fixed. We're tracking a smaller leak issue at #70. If you see any more issues please let us know.

Thanks for using VA Serving.

[2021-04-14 21:43] #62 closed

[2021-04-16 12:47] nnshah1 commented on #66
@amajai Sorry for the delay - we've been busy putting together the 0.5 release. Let me take a chance to look at this with fresh eyes and try to give some guidance next week. Please let me know any impending deadlines / milestones you are working with. Also if you can share the larger vision for distributed pipelines - that may help.

[2021-05-31 04:23] Mushtaq-BGA opened #74 "vaclient gives misleading error if server not running"
Hi,
I have ubuntu 18.04. I followed the get started doc and ran ./build.sh , i verified the image was pulled successfully.
when i start using vaclient i get below issue, the command issued was "vaclient list-pipelines" "vaclient list-models" but getting below error

**WARNING: Published ports are discarded when using host network mode
HTTPConnectionPool(host='localhost', port=8080): Max retries ex

[2021-06-01 04:54] whbruce commented on #74
Make sure [the REST running is running](https://github.com/intel/video-analytics-serving#running-the-microservice) before you run vaclient. The vaclient error message is not very helpful - we plan to improve this in our next release.

[2021-07-27 06:22] stepin105519 opened #76 "Error while loading model : MobileNet-SSD"
Hello all,

I tried to load MobileNet-SSD (converted IR Model), in CPU, Model Network: FP32

Open_model_zoo: https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/mobilenet-ssd/model.yml
Caffe model: Direct deployment MobileNetSSD_deploy.caffemodel
Prototxt file: https://raw.githubusercontent.com/chuanqi305/MobileNet-SSD/ba00fc987b3eb0ba87bb99e89bf0298a2fd10765/MobileNetSSD_d

[2021-07-27 17:51] whbruce commented on #70
Closing due to incorrect observation.

[2021-07-27 17:51] #70 closed

[2021-07-27 18:00] whbruce commented on #76
Use the VA Serving [model download tool](https://github.com/intel/video-analytics-serving/tree/master/tools/model_downloader) to convert the model as part of the build process. The [change object detection model tutorial](https://github.com/intel/video-analytics-serving/blob/master/docs/changing_object_detection_models.md) will show you how to do this, just use [mobilenet-ssd](https://github.com/o

[2021-07-28 12:58] nnshah1 commented on #76
@stepin105519 One other detail to keep in mind.

The current open visual cloud sample uses [openvino 2021.2]( https://github.com/OpenVisualCloud/Dockerfiles/blob/5c6fc851c5dd255f697c74189952f61bb369f9fd/Xeon/ubuntu-18.04/analytics/gst/Dockerfile#L314)

To download a compatible model using the latest vaserving release, you can use the following commands and attached list and pipeline.json file:

[c

[2021-07-28 13:22] stepin105519 commented on #76
Hello @whbruce and @nnshah1,

Thanks, Recently I came to know about OVC compatible OpenVINO version as mentioned by @nnshah1 ,

I'm able to load few models from Open Model Zoo [person-vehicle-bike-detection-2002](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/intel/person-vehicle-bike-detection-2002) and [person-vehicle-bike-detection-crossroad-1016](https://github.com/openvi

[2021-07-30 04:14] whbruce commented on #74
Fixed in v0.6.0-beta

[2021-07-30 04:14] #74 closed

[2021-07-30 04:14] whbruce commented on #69
Fixed in v0.6.0-beta

[2021-07-30 04:14] #69 closed

[2021-07-30 04:15] whbruce commented on #61
Fixed in v0.6.0-beta

[2021-07-30 04:15] #61 closed

[2021-07-30 04:17] whbruce commented on #59
Try out our [RTSP re-streaming](https://github.com/intel/video-analytics-serving/blob/master/README.md#real-time-streaming-protocol-rtsp) feature. Does that help you?

[2021-07-30 04:29] whbruce opened #79 "Audio inference fails on some platforms"
Audio inference fails to start with the following error:
[code]
This is only seen on some platforms including systems based on these processors
* Core i5-8259U
* Core i7-7567U

This is a regression, not seen in earlier releases.

[2021-07-30 04:35] whbruce opened #80 "VA Client outputs blank lines if watermarking enabled in spatial analytics pipelines"
Spatial analytics extensions add regions for display in watermarked output which vaclient interprets as null detections.

Steps to re-create:
* Update vaclient/parameter_files/object-line-crossing.json to enable watermarking
* Re-build container
* Start service
* Run client as shown below and note output
[code]

[2021-07-30 08:51] mikhail-nikolskiy commented on #79
Duplicate of DL Streamer bug, email thread "RE: 2021.4 audio tests failing on some systems"

[2021-07-30 11:00] stepin105519 commented on #76
Hello @nnshah1

Just to give an update, I'm able to load yolov3 models in OVC, and execute it.

By changing the entry points in [yolov3.json]https://download.01.org/opencv/public_models/022020/yolo_v3/yolo_v3_new.jsonl).
I used [yolo-v3-tf](https://github.com/openvinotoolkit/open_model_zoo/tree/master/models/public/yolo-v3-tf)

[2021-07-30 13:25] nnshah1 commented on #76
@stepin105519 That's great to hear! Sorry it was tricky to get going. Let us know if you have any other issues.

[2021-07-30 13:25] #76 closed

[2021-07-30 20:37] whbruce commented on #55
Does adding tags to your request help with your solution?

[2021-07-30 22:31] whbruce commented on #72
Fixed in v0.6.0-beta

[2021-07-30 22:31] #72 closed

[2021-08-05 02:14] lightlu commented on #10
Is there an pipeline.json example to demostrate publishing inference results over MQTT?

[2021-08-05 04:42] tobiasmo1 commented on #10
Hi @lightlu,

The closest functional example that uses MQTT is found as part of the [EdgeX sample](https://github.com/intel/video-analytics-serving/blob/master/samples/edgex_bridge/README.md).

A person may also directly run any pipelines that include the `gvametapublish` element (such as [./pipelines/gstreamer/object_detection/person_vehicle_bike/pipeline.json](https://github.com/intel/video-anal

[2021-08-05 05:09] nnshah1 commented on #10
@lightlu As @tobiasmo1 mentioned, all of the reference pipelines (object_detection, object_classification, object_tracking) support metadata publishing to MQTT based on the destination field in the request.

[2021-08-05 09:43] lightlu commented on #10
@tobiasmo1  Thank you!! Your response help me a lot.

[2021-08-06 08:01] lightlu commented on #10
I try to use curl to launch pipeline with rtsp enabled, but VLC failed to connect rtsp://localhost:8554/vaserving although POST json with "frame": { "type": "rtsp", "path": "vaserving" }. I did it successfully by using VA client command with "--rtsp-path vaserving" on the same environment. Welcome any comment & thank you in advance.

[2021-08-06 12:37] nnshah1 commented on #10
@lightlu Can you share the full curl command?

[2021-08-06 13:46] lightlu commented on #10
@nnshah1 As following, Thank you
`$ curl localhost:8080/pipelines/object_detection/person_vehicle_bike -X POST -H 'Content-Type: application/json' -d \
'{
  "source": {
    "uri": "rtsp://admin:admin@172.22.24.214/multimedia/video1",
    "type": "uri"
  },
  "destination": {
    "metadata": {
      "type": "mqtt",
      "host": "172.22.24.183",
      "topic": "AnalyticsData"
    }
  },
  "frame":

[2021-08-06 15:44] nnshah1 commented on #10
It looks like you have an typo in the json request. The frame clause is outside the destination. Does this throw an error - or completes sucessfully?

@whbruce if this completes successfully - we should consider closing our schema to avoid this kind of issue.

[code]

[code]

[2021-08-06 15:59] lightlu commented on #10
@nnshah1 it completes successfully and mqtt broker receive inference meta json data without problem. However I can not find the right RTSP URL to play video streaming by VLC.

[2021-08-06 16:13] lightlu commented on #10
@nnshah1  Your updated json request works! Thank you very much.

[2021-08-06 17:04] whbruce commented on #10
@G2020sudo use vaclient's `--show-request` option to help debug requests.

[code]
Pretty printed payload looks like this
[code]

[2021-08-11 15:09] lightlu opened #82 "Is there any way to save jpg image with inferenced bounding box for record_frames sample?"
The gstreamer element jpegenc save each frame to jpg image naming by frame id for samples/record_frames. Is it possible to save the image with inferenced bounding box? Thank you

[2021-08-12 09:43] #82 closed

[2021-08-12 15:58] whbruce commented on #59
Take a look at #82. That may help.

[2021-08-15 00:32] whbruce commented on #82
@lightlu Note that this change to the pipeline exacerbates an existing timing issue that we hadn't noticed before. metapublish can create an mqtt message **before** the corresponding frame has been written so that [imread()](https://github.com/intel/video-analytics-serving/blob/master/samples/record_frames/mqtt_client.py#L37) can fail causing imshow() to throw due to loading a null image. A simple

[2021-08-16 03:42] lightlu opened #83 "How to use web camera source?"
Web Camera Source section is noted as TBD in customizing_pipeline_requests.md. Is v4l2src source supported now? Thank you.

[2021-08-18 18:55] antoniomtz opened #84 "Error when trying to execute object line crossing pipeline"
Hello,
I'm getting the following error when trying to execute the object line crossing pipeline:

[code]

I get a similar error when running the object zone count as well. Any ideas?

[2021-08-18 19:10] antoniomtz commented on #84
I was able to make it run by adding `--parameter-file vaclient/parameter_files/object-line-crossing.json` found on another ticket.

[2021-08-18 19:49] nnshah1 commented on #84
Thanks Antonio! We also found late that the pipeline didn't run with default parameters and required parameters. We're working to improve that for the next release so that the pipeline will run by default (without any events) but also clarify how to set them.

[2021-08-18 21:07] whbruce commented on #83
Webcam support is possible, but needs a few manual steps. We plan to add more integral support for a range of media sources in a future release.
1. In the gstreamer pipelines folder make a copy of the `object_detection/person_vehicle_bike pipeline/pipeline.json` definition file and name it `object_detection/webcam/pipeline.json`
2. Change the template section in `object_detection/webcam/pipeline.j

[2021-08-18 21:08] antoniomtz commented on #80
I also experienced an issue when enabling watermark to the object zone count.
For some reason, I was not able to consume the RTSP stream on VLC.
I was able to consume the RTSP stream on VLC if watermark is disable.

[2021-08-18 21:31] whbruce commented on #80
@antoniomtz we are addressing and "extra line" issue. I will open a separate issue for zone counting watermarking preventing RTSP re-streaming with VLC.

[2021-08-18 22:07] antoniomtz commented on #84
@nnshah1 Do you have an estimate date for the next release?

[2021-08-18 22:37] nnshah1 commented on #84
We are currently working on a minor update (0.6.1) to coincide with the next OpenVINO release (roughly three weeks after).

[2021-08-19 06:35] maozhong1 opened #85 "got 500 error when sent request via vaclient.sh"
I successfully launch the by vaservice  ./docker/run.sh -v /tmp:/tmp
however, when I issue:
 **./vaclient/vaclient.sh run object_classification/vehicle_attributes https://github.com/intel-iot-devkit/sample-videos/blob/master/car-detection.mp4?raw=true**
got following error:

_WARNING: Published ports are discarded when using host network mode
Starting pipeline...
Got unsuccessful status code: 500

[2021-08-19 13:33] whbruce commented on #85
Please share the log from the service and we'll look into it.

[2021-08-19 22:39] whbruce opened #86 "Zone counting pipeline can hang when watermarking is enabled"
The following vaclient call results in a pipeline hang. This issue was initially reported by @antoniomtz in #80.

First create a parameter file that enables watermarking, call it `object-zone-count-watermark.json`
[code]
Now run vaclient using the parameter file. Although the pipeline hangs after at timestamp=1583333333, pressing CTRL+C causes vaclient to stop it
[code]

To fix it you must edit [e

[2021-08-19 22:55] whbruce commented on #85
Try using the following curl request -  do you get the same response ?
[code]

[2021-08-20 01:51] maozhong1 commented on #85
Thanks bruce. I tested with your command, got following error. I also paste the error msg in server part.

 curl localhost:8080/pipelines/object_classification/vehicle_attributes -X POST -H 'Content-Type: application/json' -d '{
  "source": {
    "uri": "https://github.com/intel-iot-devkit/sample-videos/blob/master/car-detection.mp4?raw=true",
    "type": "uri"
  },
  "destination": {
    "metadat

[2021-08-24 08:12] maozhong1 commented on #85
any suggestions？

[2021-08-25 05:29] maozhong1 commented on #85
Thanks Thanaji Rao's great help.  This issue is due to some DL model is missing when do inference.  It is my fault to comment " $SOURCE_DIR/tools/model_downloader/model_downloader.sh --model-list $MODELS" in build.sh due to proxy issue in my local PC, I can not download some models successfully.
After reset my modification, it works. Thanks!

[2021-08-25 05:29] #85 closed

[2021-08-31 03:51] antoniomtz opened #87 "Difficult to get normalized coordinates for spatial analytics parameters"
Hello,

What would be the best way (tools) to get the normalized coordinates [0,1] in a video for the "line" value for object_line_crossing parameter?

[2021-08-31 16:06] whbruce commented on #87
Use the [normalized_rect](https://github.com/openvinotoolkit/dlstreamer_gst/blob/master/python/gstgva/region_of_interest.py#L43) method of the DL Streamer [RegionOfInterest](https://github.com/openvinotoolkit/dlstreamer_gst/blob/master/python/gstgva/region_of_interest.py#L32) class. See example usage in [object_line_crossing.py#L50](https://github.com/intel/video-analytics-serving/blob/master/exte

[2021-08-31 17:10] antoniomtz commented on #87
@whbruce What I need to do is to identify coordinates in different areas from a videos to configure a new line in the parameter file. I want to avoid a manual process of try/error.
I'm wondering if there is a tool to get the normalized coordinates. For example, this tool https://stackoverflow.com/questions/55149171/how-to-get-roi-bounding-box-coordinates-with-mouse-clicks-instead-of-guess-che/5515

[2021-08-31 20:55] whbruce commented on #87
That's a nice tool! I [tweaked it slightly](https://gist.github.com/whbruce/dcdeaa969cc8fa12dd803499074bead3) and it seemed to do the job.

@darrindu let's find a way of updating the docs to help people do this.

[2021-08-31 22:12] antoniomtz commented on #87
@whbruce Thank! it seems to give me the right normalized coordinates!

[2021-09-01 09:35] Advantech-EdgeX-API commented on #83
@whbruce Thank you & sorry for late reply
Let me provide patch to use webcam on /dev/video0 for samples/record_frames/ which based on this git commit.
`v0.6.0-beta master origin/master adv2/master adv/master 2534d9b4d8487864bfdccdfcdc746ccf0f5627d7`
[0001-Force-samples-record_frames-to-use-dev-video0-webcam.zip](https://github.com/intel/video-analytics-serving/files/7089984/0001-Force-samples-reco

[2021-09-01 09:38] lightlu commented on #83
@whbruce Thank you & sorry for late reply
Let me provide patch to use webcam on /dev/video0 for samples/record_frames/ which based on this git commit:
`v0.6.0-beta origin/master 2534d9b4d8487864bfdccdfcdc746ccf0f5627d7`
[0001-Force-samples-record_frames-to-use-dev-video0-webcam.zip](https://github.com/intel/video-analytics-serving/files/7090011/0001-Force-samples-record_frames-to-use-dev-video0-we

[2021-09-08 09:40] yogeshmpandey opened #88 "Docker build fails if no_proxy setting contains spaces"
Tried to build the image using

`./docker/build.sh`

But, getting the issue below:-

![image](https://user-images.githubusercontent.com/2559013/132485954-30e774b4-aafc-4ef5-a6c5-c89145b4337b.png)

[2021-09-08 16:08] whbruce commented on #88
This is probably due to a space in your NO_PROXY setting. Run the following to track down the problem.
[code]
If you see  space in either of these values (as in NO_PROXY setting), the build will break with the error you reported. Check your environment and docker proxy configuration for such spaces.

[2021-09-10 21:54] akwrobel commented on #23
@QuPengfei We have had no update on this issue, kindly update this issue with the requested information or this issue will be closed.

[2021-09-12 12:24] nikparmar opened #89 "Some public models from Open Model Zoo do not produce inference results"
Here is the pipeline I am testing with.
The pipeline runs without any error and there is no log for any output for the following command:

`command`

`sudo ./vaclient/vaclient.sh run object_classification/face_mask_classification https://github.com/intel/video-analytics-serving/blob/master/samples/classroom.mp4?raw=true`

`pipeline.json`
[code]

I think this is because I have not added the `model-

[2021-09-17 17:21] akwrobel commented on #89
Hi @nikparmar,
We are currently looking into this issue.

[2021-09-20 05:01] nikparmar commented on #89
Hi @akwrobel Any update on this?

[2021-09-20 11:54] nnshah1 commented on #89
@nikparmar Can you check the contents of `/tmp/results.jsonl` we have seen a similar issue in scenarios where the output file takes longer than usual to be created and `vaclient` does not print output from the pipeline. The output is still generated in that case but the `vaclient` doesn't report anything.

[2021-09-20 12:31] nikparmar commented on #89
Hi @nnshah1 Let me try once and check it.

[2021-09-21 07:13] nikparmar commented on #89
Hi @nnshah1 I tried checking the `results.jsonl` file but it's empty.
As you can see in the below screenshot the pipeline is running without any errors and also when I stopped it the FPS values are also coming.
Can you check at your end the same or any other model from the public repository?
![Image](https://user-images.githubusercontent.com/9884670/134127185-2f2b6ba6-1fee-4bdd-afac-04dea6e4d643.p

[2021-09-22 12:35] Mushtaq-BGA opened #91 "Vaclient script not showing new models added"
i have added new models as per the directory structure required by VAS, however when i used vaclient script to list-models it is not showing up.  Is this a known issue ? if not can you help me.

[2021-09-22 12:37] nnshah1 commented on #91
@Mushtaq-BGA Can you share the directory structure / build command you used? Are you volume mounting the models folder or are rebuilding the container with the models?

[2021-09-22 12:50] Mushtaq-BGA commented on #91
@nnshah1  -
I got it !!
Actually i missed to mount models  "./docker/run.sh -v /tmp:/tmp **--models models**",  . Thanks

[2021-09-22 12:56] #91 closed

[2021-09-23 06:01] nikparmar commented on #89
Hi @tthakkal here are the details of the models:

1. [ultra-lightweight-face-detection-slim-320](https://docs.openvinotoolkit.org/latest/omz_models_model_ultra_lightweight_face_detection_slim_320.html)
2. [face-mask](https://github.com/mmphego/face_mask_detection_openvino/tree/master/models)

[2021-09-23 18:34] tthakkal commented on #89
Thanks, I tried face detection with `ultra-lightweight-face-detection-slim-320` and see no results . I will verify if this model requires a special model proc settings and will let you know.

[2021-09-24 06:58] nikparmar commented on #89
Also, @tthakkal I found the case with lot of public model available [here](https://github.com/openvinotoolkit/open_model_zoo/blob/master/models/public/index.md) and not just the `ultra-lightweight-face-detection-slim-320`. You can try any other face detection model and similar is the case.

[2021-09-24 17:48] tthakkal commented on #89
Hi @nikparmar, I checked and sorry to say we don't support those models. But you can use these models by inferencing using gvainference and creating detection with gvapython.

Get tensors using [gvainference ](https://github.com/openvinotoolkit/dlstreamer_gst/wiki/gvainference) and process tensors using gvapython to create and [add region](https://github.com/openvinotoolkit/dlstreamer_gst/blob/747

[2021-09-27 10:05] nikparmar commented on #89
Hi @tthakkal I tried using the below script but unable to find any tensors on this [video](https://github.com/intel/video-analytics-serving/blob/master/samples/classroom.mp4?raw=true) .

[code]

[2021-09-27 18:37] whbruce commented on #89
A few points on compatible models

1. A list of compatible models is defined by those that have an associated [model-proc](https://github.com/openvinotoolkit/dlstreamer_gst/tree/master/samples/model_proc). This [gist](https://gist.github.com/whbruce/76a67da9114f2881eda62e66ee22dfb0) has a listing by model name. Some public models are supported so title of this issue is not totally accurate.
2. If

[2021-09-27 20:49] tthakkal commented on #89
@nikparmar I tried with same video and I see tensor data
[code]

[code]

[2021-09-27 20:50] akwrobel commented on #23
This has not been an issue since the 0.4.0 release, current release is 0.6.1.  No action has been taken in the last 2+ weeks to confirm if issues are still seen.

[2021-09-27 20:50] #23 closed

[2021-09-30 09:21] yogeshmpandey commented on #88
Thanks, I was able to run it after making the changes. However since I am using a VM, I am getting this issue after running the run.sh command, do we have any fixes for this.

![image](https://user-images.githubusercontent.com/2559013/135425286-8e6eee3f-e8b2-470a-9644-2edd44afc462.png)

[2021-09-30 11:53] nnshah1 commented on #88
@yogeshmpandey What underlying hardware are you using? Based on this similar issue (also running from within a VM) [https://github.com/opencv/opencv/issues/18932](https://github.com/opencv/opencv/issues/18932 ) it looks like you may need to rebuild opencv / openvino with those options disabled.

I would suggest trying to rebuild the base openvino image using:
[https://github.com/openvinotoolkit/do

[2021-09-30 17:17] tthakkal commented on #89
@nikparmar Were you able to get it working?

[2021-10-01 11:58] nikparmar commented on #89
@tthakkal I will update you soon. Engaged in something

[2021-10-04 21:47] whbruce commented on #55
Use the pattern shown in the [record_frames](https://github.com/intel/video-analytics-serving/tree/master/samples/record_frames) samples to match frames to MQTT meta-data results.

[2021-10-04 21:48] whbruce commented on #86
Fixed in [v0.6.1](https://github.com/intel/video-analytics-serving/releases/tag/v0.6.1-beta)

[2021-10-04 21:48] #86 closed

[2021-10-04 21:48] whbruce commented on #84
Fixed in [v0.6.1](https://github.com/intel/video-analytics-serving/releases/tag/v0.6.1-beta).

[2021-10-04 21:48] #84 closed

[2021-10-04 21:49] whbruce commented on #80
Fixed in [v0.6.1](https://github.com/intel/video-analytics-serving/releases/tag/v0.6.1-beta).

[2021-10-04 21:49] #80 closed

[2021-10-04 21:52] whbruce commented on #83
@lightlu thanks for contribution. In the short term we have updated our docs. Our next release will contain  a "universal" VA Serving source so that pipelines can take media from anywhere.

[2021-10-04 21:52] #83 closed

[2021-10-04 21:52] whbruce commented on #79
Fixed in [v0.6.1](https://github.com/intel/video-analytics-serving/releases/tag/v0.6.1-beta).

[2021-10-04 21:52] #79 closed

[2021-10-04 21:55] whbruce commented on #54
Use the pattern shown in the [record_frames](https://github.com/intel/video-analytics-serving/tree/master/samples/record_frames) samples to match frames to MQTT meta-data results.  Let us know if that helps.

[2021-10-06 09:44] yogeshmpandey commented on #88
Thanks, a lot. It worked.

[2021-10-06 09:44] #88 closed

[2021-10-26 23:57] tim-shockley opened #92 "REST interface for status and DELETE does not consider pipeline name, just the instance id"
We have VAS setup with two pipelines available, people-detection and tampering-detection. When I start a pipeline, I can use either pipeline id and VAS returns the status of the instance id. Consider the following output from a bash script that starts the pipeline and then polls the status every 5 seconds.

[code]

But notice I can use either pipeline URL and get the status, and this also is true

[2021-11-08 23:51] antoniomtz opened #94 "Error when trying to run pipeline on GPU"
Hello,

I've been trying to run a pipeline on GPU on a 11th Gen Intel(R) Core(TM) i9-11900H and getting the following error:

I was able to run the openVINO DLStreamer samples on GPU with no problem. Also, I'm able to run this VAS pipeline on GPU using a different computer with i5.

It is worth mentioning that this i9 computer also has Nvidia GPU. Could it be any issues with Docker confusion the m

[2021-11-09 18:16] akwrobel commented on #94
@antoniomtz Have you tried building on the same machine that you are running on?
Also can you please try running VA Serving's /docker/run.sh.
Please sent attach the output.

[2021-11-11 19:08] antoniomtz commented on #94
@akwrobel I tried running docker/run.sh and the sample pipelines on GPU and they worked.

I took a look at the variables you guys are using when running the `docker run` command and added them to my docker-compose file.

After adding these variables, I was able to run the pipeline on GPU through the docker-compose.

[code]

Thanks.

[2021-11-11 19:08] #94 closed

[2021-11-11 20:45] whbruce commented on #94
`device=group-rules` is only required for NCS2. `audio` group_add is for microphone support. You can remove them both..

[2021-11-11 22:20] antoniomtz commented on #94
@whbruce thanks!

[2021-11-11 22:38] whbruce commented on #58
Issue #92 prevents you from speculatively querying for pipeline instances.

[2021-11-19 21:07] akwrobel commented on #89
@nikparmar can you provide any updates on what changes you tried?  Is this no longer an issue?

[2021-11-19 21:07] akwrobel commented on #55
@venkataram9 as @whbruce's suggestion resolved your issue?

[2021-11-24 13:02] smitesh-sutaria opened #95 "Error while running the pipeline"
Hello,

When try to run the ./vaclient/vaclient.sh run object_detection/person_vehicle_bike https://github.com/intel-iot-devkit/sample-videos/blob/master/person-bicycle-car-detection.mp4

Get the below error :

WARNING:tornado.access:404 GET /api/v1/deviceinfo//api/v1/deviceinfo/30 (172.17.0.1) 0.89ms
{"levelname": "ERROR", "asctime": "2021-11-24 13:04:11,589", "message": "Error on Pipeline 1: gst

[2021-11-24 13:09] smitesh-sutaria commented on #95
Adding additional logs :

(gst-plugin-scanner:11): GStreamer-WARNING **: 13:11:21.773: Failed to load plugin '/opt/intel/openvino/data_processing/dl_streamer/lib/libgpurenderer.so': libsvml.so: cannot open shared object file: No such file or directory

(gst-plugin-scanner:11): GStreamer-WARNING **: 13:11:21.779: Failed to load plugin '/opt/intel/openvino/data_processing/dl_streamer/lib/libvasot_gp

[2021-11-24 19:54] vidyasiv commented on #95
Hi Smitesh,

I was able to recreate your issue, it is likely due to not using the raw format of the video.
Could you try:
[code]
The [VA Serving README](https://github.com/intel/video-analytics-serving#running-a-pipeline) has the example command with the working URL for person vehicle bike. For other videos, you could get the raw format by going to the webpage of the media and right click on the "

[2021-12-02 02:20] whbruce opened #97 "EdgeX sample fails when run from behind a proxy"
After building successfully the the sample will fail to run with errors such as the following

[code]

[2021-12-06 03:13] tobiasmo1 commented on #97
https://github.com/intel/video-analytics-serving/issues/97

[2021-12-07 02:53] whbruce opened #98 "Pipeline failure in some multi-GPU systems"
Pipelines can sometimes fail in multi GPU systems due to video decode incompatibility. Pipeline will return an error when starting and service log will contain an entry like this

[code]

Workaround is to disable GPU decode by clearing environment variable `LIBVA_DRIVER_NAME`
e.g. if using run script to start service:
[code]

[2022-01-06 18:10] akwrobel commented on #95
@smitesh-sutaria We believe this has been resolved with the http update provided above.  Please let us know if this is not the case.

[2022-01-06 18:11] #95 closed

[2022-01-10 15:07] dingyiyi0226 opened #100 "vaclient cannot display inference results from files on remote server"
Hi
I pull the image from dockerhub and running on a server (192.168.50.70), and I launch the vaclient on local machine (192.168.50.80). I can get the result of avg_fps, but is it possible to sync the `/tmp/results.jsonl` automatically?

<img width="1184" alt="截圖 2022-01-10 22 54 34" src="https://user-images.githubusercontent.com/35497159/148786957-1c7f7663-5f9a-43c8-a4ef-dbfe2742ea3f.png">

[2022-01-14 21:03] #54 closed

[2022-01-14 21:06] #21 closed

[2022-01-14 21:06] akwrobel commented on #21
Closed due to no response

[2022-01-14 21:10] #89 closed

[2022-02-18 18:16] whbruce opened #101 "REST service fails to start due to soft_unicode import error"
After building service, it fails to start with the following error
[code]

Two workarounds:
1. Use container from dockerhub: [intel/video-analytics-serving:0.7.0](https://hub.docker.com/r/intel/video-analytics-serving)
2. Update connexion version to 2.11.1 in [requirements.service.txt](https://github.com/dlstreamer/pipeline-server/blob/master/requirements.service.txt#L1) and re-build.

[2022-02-18 22:37] whbruce commented on #68
Fixed in v0.7.0.

[2022-02-18 22:37] #68 closed

[2022-02-21 08:23] bhargav-sudo opened #102 "Error while running the microservice"
Hi I am receiving the following error by running the below command.

Building microservice has done successfully

**command** : ./docker/run.sh -v /tmp:/tmp/

**Error :**

Found /dev/snd - enabling microphone

Running Video Analytics Serving Image: 'video-analytics-serving-gstreamer'
   Models: ''
   Pipelines: ''
   Framework: 'gstreamer'
   Environment: ''
   Volume Mounts: '-v /tmp:/tmp/ -v /de

[2022-02-21 08:39] brmarkus commented on #102
Looks like "https://github.com/dlstreamer/pipeline-server/issues/101", which says:

[2022-02-21 08:41] bhargav-sudo commented on #102
OK. will check that and let you know.
Thanks

[2022-02-21 09:11] bhargav-sudo commented on #102
Done. Working.
Updates connexion version.
Thanks.

[2022-02-21 09:11] #102 closed

[2022-02-23 00:36] whbruce opened #104 "Intermittent 30s delay in pipeline start during multi-stream sessions"
vaclient can report this as a failure to start as it has a 30s timeout.

Issue is related to streaming web video (e.g. [homes_00425.mkv](https://lvamedia.blob.core.windows.net/public/homes_00425.mkv)). Workaround is to use local video or RTSP camera.

[2022-02-23 00:42] whbruce opened #105 "Kubernetes deployment fails if no_proxy contains *"
If deployment will fails as follows:

[code]

You likely have a `*` in your `no_proxy` setting which cases the follwing entry in `pipeline-server.yaml`
[code]
To fix remove `*` from `no_proxy` environment variable and re-build and re-deploy.

[2022-02-23 00:45] whbruce opened #106 "When interrupting run of multiple streams vaclient prints fps of last stream not average"
Example output: average fps is displayed as 27.57 but should be approx 30.

[code]

[2022-02-23 00:50] whbruce commented on #101
Fixed in v0.7.1.

[2022-02-23 00:50] #101 closed

[2022-02-23 00:51] whbruce commented on #97
Fixed in v0.7.1.

[2022-02-23 00:51] #97 closed

[2022-02-23 00:51] whbruce commented on #92
Fixed in v0.7.1.

[2022-02-23 00:51] #92 closed

[2022-02-23 00:52] whbruce commented on #58
Fixed in v0.7.1

[2022-02-23 00:52] #58 closed

[2022-02-23 01:00] whbruce commented on #100
In v0.7.1 vaclient can [connect to remote servers](https://github.com/dlstreamer/pipeline-server/blob/master/vaclient/README.md#--server-address) and view results over mqtt by setting appropriate [destination](https://github.com/dlstreamer/pipeline-server/blob/master/vaclient/README.md#--destination) values. This is the recommended option for viewing remote metadata. Setting issue to `wontfix` and

[2022-02-23 01:04] whbruce commented on #26
Here is updated status on your feature requests:
1. CTRL+C not stopping REST service: this was fixed in v0.4.0
1. `reload` command: will be added to a future release
1. `exit` command: will not be supported
1. CPU usage: will not be added to status message but may be used in future versions of Kubernetes deployment
1. Enumerating running pipelines: this was fixed in v0.7.1

[2022-02-23 04:14] dingyiyi0226 commented on #100
Thanks

[2022-02-23 05:51] #100 closed

[2022-03-02 19:30] whbruce commented on #44
v0.7.1 will build and run on Windows 11 and WSL 2 but only supports CPU inference. This will be our supported Windows configuration going forward so closing as `won't fix`.

[2022-03-02 19:30] #44 closed

[2022-03-04 05:58] whbruce opened #107 "v0.7.1 client incompatible with earlier versions of the service"
vaclient was updated to use the new "instance only" REST api calls (see "What's Changed" section of [release notes](https://github.com/dlstreamer/pipeline-server/releases/tag/v0.7.1-beta)). These calls are not supported by older versions of the service so vaclient will fail as follows:
[code]
Sever log from v0.7.0 or earlier will show the following
[code]
vaclient has started the pipeline successf

[2022-03-28 18:28] whbruce opened #108 "GPU inference fails on 12th Gen Intel® Core™ systems"
If GPU device is selected, pipeline will generate an error similar to the following:

[code]

OpenVINO 2021.4.2 container does not support Alder Lake GPU. As a workaround use CPU inference.

[2022-04-27 07:18] sbin149x opened #109 "Pipeline server client requests blocked by iboss"
I receive this warning when executing this command sudo ./docker/build.sh:

groups: cannot find name for group ID 109
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f4d715282b0>, 'Connection to pypi.org timed out. (connect timeout=15)')': /simple/jso

[2022-04-27 11:43] nnshah1 commented on #109
@sbin149x In addition to setting up proxies for docker runtime itself, you'll need to set up the http_proxy, https_proxy, HTTP_PROXY,HTTPS_PROXY environment variables.

Can you check those as well?

[2022-04-27 17:33] whbruce commented on #109
You can ignore the message `groups: cannot find name for group ID 109`, this is related to using GPU for inference.

[2022-05-09 02:10] sbin149x commented on #109
Hi  @nnshah1, I already set up those proxies for environment and manage to build the docker. Thanks for the help.

[2022-05-09 02:11] sbin149x commented on #109
Oh okay thanks @whbruce

[2022-05-09 04:12] sbin149x commented on #109
After build the docker and run it, I execute ./vaclient/vaclient.sh list-pipelines on another terminal but got this error:

rbhesve@rbhesve-Tiger-Lake-Client-Platform:~/pipeline-server$ ./vaclient/vaclient.sh list-pipelines

Found /dev/dri/render entry - enabling for GPU
Found /dev/bus/usb - enabling for Intel(R) NCS2
Found /dev/snd - enabling microphone

Running Intel(R) DL Streamer Pipeline Serv

[2022-05-09 16:28] whbruce commented on #109
Please update title to indicate this is a runtime, not build time, issue.
I believe this is due to iboss configuration, please try a curl command `curl localhost:8080/pipelines`

[2022-05-19 03:53] sbin149x commented on #109
I did try the curl command but when run back the ./vaclient/vaclient.sh list-pipelines still got the same output.
Did I do it wrongly?

rbhesve@rbhesve-NUC11PAHi7:~/pipeline-server$ curl localhost:8080/pipelines
[
  {
    "description": "Decode Pipeline",
    "name": "video_decode",
    "type": "GStreamer",
    "version": "app_dst"
  },
  {
    "description": "Environmental sound detection based o

[2022-05-26 22:43] whbruce commented on #109
Iboss thinks pipeline server client is making a dangerous request so blocks it. Contact me directly and we'll try and resolve it.

One idea - specify server using fqdn (e.g. my-server.corp.com).

[code]

[2022-05-26 22:56] whbruce opened #111 "Server crashes after several minutes when using RTSP camera and GPU inference on 11th Gen Intel® Core™ and later"
## Steps to Reproduce
1. Start server as normal.

2. Run client with RTSP source, 4 streams and device=GPU
[code]
3. After ~5 minutes, server will crash with segmentation fault.

## Workarounds
Two options:
1. In pipeline.json add `decodebin` property `force-sw-decoders=true`
2. Use specific rtsp depay and decoding instead of `decodebin`. e.g. `rtph264depay ! h264parse ! avdec_h264`

[2022-06-06 17:34] whbruce opened #112 "Memory leak on pipeline stop"
Approx 10 MB is not released each time a pipeline stops. This will be a problem for applications that frequently start and stop pipelines.

A simple workaround is to use [jemalloc](https://jemalloc.net/) memory allocator.
1. Install libjemalloc-dev package
2. Enable with LD_PRELOAD=libjemalloc.so

This issue will be fixed in the next release.

[2022-06-14 16:36] whbruce commented on #106
Fixed in v0.7.2.

[2022-06-14 16:36] #106 closed

[2022-06-14 16:37] whbruce commented on #108
Fixed in v0.7.2

[2022-06-14 16:37] #108 closed

[2022-06-14 16:37] whbruce commented on #112
Fixed in v0.7.2.

[2022-06-25 11:24] yockgen opened #114 "RTSP error - Could not write to resource"
I've a RTSP camera is running, and confirm able to access from the host (tested via VLC), however, receiving following error:

{"levelname": "INFO", "asctime": "2022-06-25 11:18:23,224", "message": "Creating Instance of Pipeline object_detection/person_vehicle_bike", "module": "pipeline_manager"}
{"levelname": "ERROR", "asctime": "2022-06-25 11:18:23,501", "message": "Error on Pipeline 868ccefef47

[2022-06-27 05:42] brmarkus commented on #114
Can you provide more details about your environment (software and hardware), please?
Which version of PipelineServer do you use, how do you use it, how have you configured it, how did you start your usecase?
Looks like a permission-related issue.

[2022-06-27 11:25] yockgen commented on #114
This is how I started the pipeline server:

1. git clone https://github.com/dlstreamer/pipeline-server
2. cd /root/pipeline-server
3. ./docker/build.sh
4. docker/run.sh --enable-rtsp -v /tmp:/tmp

I'm using master branch of pipeline-server.

[2022-06-29 23:09] whbruce commented on #114
I think decodebin is struggling to deal with your RTSP camera. Switch out the source part of your request for this and let me know how it goes.

[code]

[2022-06-30 07:16] yockgen commented on #114
Thanks! The solution work like a charm.

curl localhost:8080/pipelines/object_detection/person_vehicle_bike -X POST -H 'Content-Type: application/json' -d '{
    "source": {
      "type": "gst",
      "element": " urisourcebin",
      "properties": {
          "uri": "rtsp://xxxxx:xxxxx@192.168.1.226:554/videoMain.sdp",
          "latency": 0
      },
      "postproc": "rtph264depay"
    },
	"dest

[2022-06-30 07:16] #114 closed

[2022-07-07 17:23] whbruce commented on #111
Can be fixed by rebuilding docker image as this picks up latest GPU media/computer stack that fixes issue. Or use dockerhub image [intel/dlstreamer-pipeline-server:2022.1.1-ubuntu20](https://hub.docker.com/r/intel/dlstreamer-pipeline-server).

[2022-07-07 17:23] #111 closed

[2022-07-15 01:14] yockgen opened #115 "Output as HLS (Http Live Streaming)"
Is it any option that result could be HLS (Http Live Streaming) instead of RTSP as below?

curl 10.233.90.116:8080/pipelines/object_detection/person_vehicle_bike -X POST -H 'Content-Type: application/json' -d '{
      ....
      "frame": {
            "type": "rtsp",
            "path": "person-detection2"
        }
    }
}'

Trying to deploy the pipeline-server on my K8s cluster, detail https://h

[2022-07-15 16:10] whbruce commented on #115
We are adding this feature to our Kubernetes sample for the next release.

[2022-07-21 10:35] AishaSamaanKhan opened #116 "Support for yolo-v3-tiny-tf INT-8 model on the pipeline server"
Hi
We are working on integrating yolo-v3-tiny-tf int-8 IR model into the dlstreamer pipeline following the [documentation provided for changing model](https://github.com/dlstreamer/pipeline-server/blob/master/docs/changing_object_detection_models.md)
We were able to integrate yolo-v3-tiny-tf IR model (non quantized) and test it. but we failed to get proper inference with the INT-8 models for the s

[2022-07-21 17:31] AishaSamaanKhan commented on #116
@whbruce
Thank you for the quick response, I tried Updating the pipeline definition as suggested, Still the issue persist.

These are the logs on the pipeline server, I could see that it is using the INT-8 models
[code]

over the inferencing side keeps predicting bench continuously for uri=https://github.com/intel-iot-devkit/sample-videos/raw/master/bottle-detection.mp4?raw=true
[code]

[2022-07-21 19:23] whbruce commented on #116
Please run [OMZ object detection demo](https://github.com/openvinotoolkit/open_model_zoo/blob/master/demos/object_detection_demo/python/README.md) to get a baselione for model accuracy.

[2022-07-22 04:19] AishaSamaanKhan commented on #116
Using openvino 2022.1.0 version

(setup) intel@intel-WL10:~/workspace/open_model_zoo/demos/object_detection_demo/python$ python3 object_detection_demo.py   -d CPU   -i bottle.mp4   -m /home/intel/workspace/pipeline-server/models/object_detection/yolo-v3-tiny-tf/FP32-INT8/yolo-v3-tiny-tf.xml   -at yolo   --labels /home/intel/workspace/pipeline-server/models/object_detection/yolo-v3-tiny-tf/coco-80c

[2022-07-22 05:11] brmarkus commented on #116
Using the default-algorithm for INT8 quantization (instead of using the "accuracy-aware" algorithm) can come with a slightly reduced accuracy...

The sample "object_detection_demo.py" has a default-value `'-t', '--prob_threshold', default=0.5`, which you might need to increase to filter-out those with lower confidence-level.

`gvadetect` has the same default-value:

[code]

[2022-07-24 14:00] AishaSamaanKhan commented on #116
Hi,
I tried using the Accuracy Aware Quantization to create the Quantized model, And Followed the steps to integrate the this model into the pipeline server i still see same behavior for the inference below is the config for pot quantization
[code]

[2022-07-24 19:51] brmarkus commented on #116
Can you provide more details about the problem you are seeing, please?
After INT8-quantization no objects were detected at all anymore, compared to the "original models" (F16, FP32)?

[2022-07-25 08:57] AishaSamaanKhan commented on #116
yes, @brmarkus
With the downloaded models from the open model zoo (i.e.,The Original models), the pipeline server is able to give the inference, but when it comes the INT-8 Quantized model based on Accuracy Aware Algo the inference is failing with the pipeline server
 These same Quantized model were validated with the object detection sample from the OMZ repo.

[2022-08-20 00:39] whbruce commented on #109
I have confirmed that specifying server address as fqdn avoids iboss error. Closing.

[2022-08-20 00:39] #109 closed

[2022-09-06 07:20] Gauthamraju31 opened #117 "Parameter substitution in pipeline template crashes the server"
## ISSUE DESCRIPTION ##
As per [link](https://github.com/dlstreamer/pipeline-server/blob/main/docs/defining_pipelines.md#parameter-resolution-in-pipeline-templates), the direct substitution of parameters (in this example resolution) can be achieved with `{parameters[..]}` approach. However, after creating the template (mentioned below) in the same format the pipeline is failing on validation. The

[2022-09-07 20:40] whbruce commented on #117
Thanks for posting this issue. Seems like stale/untested documentation. We're looking into a workaround.

[2022-09-15 17:36] whbruce commented on #107
Closing as "will not fix" as backward compatibility is not required prior to v1.0.

[2022-09-15 17:36] #107 closed

[2022-10-13 19:31] whbruce commented on #117
We have a fix for this issue and it will be part of next release.

[2022-10-24 23:25] whbruce commented on #117
Fixed in 2022.2.0 (v1.0)

[2022-10-24 23:25] #117 closed

[2022-10-24 23:25] whbruce commented on #105
Fixed in 2022.2.0 (v1.0)

[2022-10-24 23:25] #105 closed

[2022-10-24 23:26] whbruce commented on #98
Fixed in 2022.2.0 (v1.0). See https://github.com/dlstreamer/pipeline-server/blob/main/docs/running_pipeline_server.md#gpu.

[2022-10-24 23:26] #98 closed

[2022-10-24 23:27] whbruce commented on #104
Fixed in 2022.2.0 (v1.0)

[2022-10-24 23:27] #104 closed

[2022-10-24 23:30] whbruce commented on #59
Closing as there has been no response for over a year.

[2022-10-24 23:30] #59 closed

[2022-11-10 07:14] dhaval-zala-aivid opened #119 "pipeline shows error with splitmuxsink"
@nnshah1
I'm running yolov5 on pipeline-server without splitmuxsink. Its shows the proper result.
But if i add splitmuxsink in pipeline. the pipeline shows error link this...
[code]

here is the pipeline
[code]

[2022-11-10 18:00] whbruce commented on #119
Another experiment you could do to narrow down the problem is check that the record part of the [record_playback sample](https://github.com/dlstreamer/pipeline-server/tree/main/samples/record_playback) works. Then change to using your media and let us know what happens.

[2022-11-11 04:35] dhaval-zala-aivid commented on #119
@nnshah1 @whbruce

With the given pipeline I can run with splitmuxsink and its also generating the videos. But how can I get the timestep in generated video name?
working pipeline:
[code]

[2022-11-14 05:39] dhaval-zala-aivid opened #120 "How to add jpegenc (to generate snapshot) and splitmuxsink (to generate video) together in a single pipeline?"
@nnshah1

How to add jpegenc (to generate snapshot) and splitmuxsink (to generate video) together in a single pipeline?
I am able to add jpegenc or splitmuxsink separately in pipeline and its running properly. But if I add both together in a single pipeline Its generate snapshot only and video with 0 byte in size.
I have tried multiple combination for this issue. But not able to solve.

Here is th

[2022-11-14 20:57] mikhail-nikolskiy commented on #120
You can probably use jpegenc and multifilesink to save .jpg images, ex
[code]

[2022-11-15 05:32] dhaval-zala-aivid commented on #120
@mikhail-nikolskiy

I want to save jpg based on post-processing. I don't want to save each frames that's why I have used ImageCapture class in pipeline to save the particular snapshots only. What you have suggested will capture the image every frame is not required in my case.